<template>
  <app-layout>
    <Head title="Inicio" />
    <div class="grid grid-cols-1 lg:gap-0 container-slider">
       <img class="mt-24 image-slider" src="../../../img/banner.jpg" alt="" />
    </div>
    <div class="grid grid-cols-3 lg:gap-6 lg:px-24 2xl:px-60">
      <Category
        v-for="(category, index) in Categories"
        :key="index"
        :url="category.url_icon"
        :name="category.name"
        :color="category.color ? category.color : '#000'"
      />
    </div>
    <div
      class="
        grid grid-cols-2
        lg:grid-cols-3
        gap-4
        lg:gap-6
        px-5
        lg:px-24 lg:pt-6
        2xl:px-60
        mb-10
      "
    >
      <p class="text-cafe lg:col-span-2 text-xl lg:text-3xl font-bold">
        Ofertas
      </p>
      <p class="text-right text-cafe underline text-sm lg:text-xl lg:pt-3">
        <a class="lg:mt-4" href="#">Ver todas</a>
      </p>

      <!-- <Offer
        class="m-0"
        v-for="(offer, index) in Offers"
        :key="index"
        :url="offer.image_url"
      /> -->
      <Offer
        class="m-0"
        url="../../../images/offer1.jpg"
      />
      <Offer
        class="m-0"
        url="../../../images/offer2.jpg"
      />
      <Offer
        class="m-0"
        url="../../../images/offer3.jpg"
      />

    </div>
    <div
      class="grid grid-cols-3 lg:grid-cols-6 gap-4 px-5 lg:px-24 2xl:px-60 mb-5"
    >
      <p
        class="col-span-3 lg:col-span-6 text-cafe text-xl lg:text-3xl font-bold"
      >
        Productos nuevos
      </p>
    </div>

    <div
      class="
        grid grid-cols-3
        lg:grid-cols-6
        px-5
        lg:px-24
        2xl:px-60
        mb-10
        owl-carousel owl-theme
      "
    >
      <product
        v-for="(product, index) in Products"
        :key="index"
        :url="
          product.pictures[0]
            ? product.pictures[0].url
            : 'https://www.sinrumbofijo.com/wp-content/uploads/2016/05/default-placeholder.png'
        "
        :name="product.name"
        :price="
          product.product_type == 'variable'
            ? product.values[0].price
            : product.meta.price
        "
        :unit="
          product.product_type == 'variable'
            ? product.values[0].term.name
            : product.meta.unit
        "
        :value_unit="
          product.product_type == 'variable' ? '' : product.meta.value_unit
        "
        :slug="product.slug"
      />
    </div>

    <div
      v-for="(category, index) in Categories"
      :key="index"
      class="
        grid grid-cols-6
        lg:grid-cols-6
        gap-4
        lg:gap-6
        px-5
        lg:px-24
        2xl:px-60
        mb-10
      "
    >
      <p
        v-if="category.products.length > 0"
        class="
          text-cafe
          col-span-4
          lg:col-span-4
          text-xl
          lg:text-3xl
          truncate
          font-bold
        "
      >
        {{ category.name }}
      </p>
      <p
        v-if="category.products.length > 0"
        class="
          text-right text-cafe
          col-span-2
          lg:col-span-2
          underline
          text-sm
          lg:text-xl lg:pt-3
        "
      >
        <a class="lg:mt-4" href="#">Ver todas</a>
      </p>

      <div class="col-span-6 owl-carousel" v-if="category.products.length > 0">
        <product
          v-for="(product, index) in category.products"
          :key="index"
          :url="
            product.pictures[0]
              ? product.pictures[0].url
              : 'https://www.sinrumbofijo.com/wp-content/uploads/2016/05/default-placeholder.png'
          "
          :name="product.name"
          :price="
            product.product_type == 'variable'
              ? product.value.price
              : product.meta.price
          "
          :unit="
            product.product_type == 'variable' ? product.value.term.name : ''
          "
          :value_unit="
          product.product_type == 'variable' ? '' : product.meta.value_unit
        "
          :slug="product.slug"
        />
      </div>
    </div>
  </app-layout>
</template>
<script>
import { defineComponent } from "vue";
import JetButton from "@/Jetstream/Button.vue";
import Category from "@/Components/Category.vue";
import Offer from "@/Components/Offer.vue";
import Product from "@/Components/Product.vue";
import { Head, Link } from "@inertiajs/inertia-vue3";
import AppLayout from "@/Layouts/AppLayout.vue";

export default defineComponent({
  components: {
    AppLayout,
    Head,
    Link,
    JetButton,
    JetButton,
    Category,
    Offer,
    Product,
  },

  props: {
    Categories: Object,
    Offers: Object,
    Products: Object,
    User: Object,
  },

  data() {
    return {
      //   email: "EXAMPLE",
    };
  },
  mounted() {
    $(function () {
      $(".owl-carousel").owlCarousel({
        loop: true,
        margin: 15,
        nav: true,
        autoplay: true,
        nav: true,
        animateOut: "slideOutDown",
        animateIn: "flipInX",
        responsive: {
          0: {
            items: 3,
            margin: 10,
          },
          600: {
            items: 3,
          },
          1000: {
            items: 6.2,
          },
        },
      });
    });
  },
  methods: {
    // showNext() {
    //         this.$refs.carousel.handleNavigation('forward')
    //        },
  },
});
</script>
<style scoped>
@media screen and (max-width: 600px) {
  .container-slider {
    height: 300px;
    width: 100%;
    background: coral;
  }
}
@media screen and (min-width: 601px) {
  .container-slider {
    height: 500px;
    width: 100%;
  }
  .owl-carousel {
    right: -32px;
  }
}
.owl-carousel[data-v-f311f62a] {
  right: 0 !important;
}
.owl-carousel .owl-next {
  font-size: 900px !important;
}

/* .image-slider {
  max-height: 510px;
  width: auto;
  height: auto;
  min-width: 100vw;
} */
</style>
