<template>
  <dashboard-layout>
    <Head title="Categorias" />
    <h1 class="text-xl text-cafe font-bold">Categorias</h1>
    <div class="grid grid-cols-2 gap-2">
      <div class="grid grid-cols-2">
        <form
          @submit.prevent="submit"
          class="
            col-span-2
            grid grid-cols-2
            gap-1
            form form-login
            px-5
            lg:px-0
            text-primary
          "
        >
          <div class="col-span-2 mt-3">
            <jet-input
              placeholder="Nombre"
              id="name"
              type="name"
              class="pl-2 mt-1 block w-full"
              v-model="form.name"
              required
              autocomplete="off"
            />
          </div>
          <div class="col-span-2 mt-3">
            <jet-input
              disabled
              placeholder="Slug"
              id="slug"
              type="slug"
              class="pl-2 mt-1 block w-full"
              v-model="slug"
              required
              autocomplete="off"
            />
          </div>
          <div class="col-span-2 mt-3">
            <button
              @click="dropdown = !dropdown"
              id="dropdownButton"
              data-dropdown-toggle="dropdown"
              class="
                font-bold
                h-xl
                py-2
                px-10
                w-full
                mt-3
                text-cafe
                bg-white
                font-bold
                rounded-lg
                text-sm text-center
                inline-flex
                items-center
                text-center
                mr-5
              "
              type="button"
            >
              Categoria padre
              <svg
                class="ml-2 w-4 h-4"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
                ></path>
              </svg>
              {{ parentCategory }}
            </button>

            <div
              v-if="dropdown === true"
              id="dropdown"
              class="
                z-10
                w-role
                text-base
                list-none
                bg-white
                rounded-lg
                divide-y divide-gray-100
                shadow
                absolute
                mt-20
                dark:bg-gray-700
              "
            >
              <ul class="py-1" aria-labelledby="dropdownButton">
                <li v-for="(category, index) in Categories" :key="index">
                  <a
                    @click="
                      (form.parentCategory = category.id),
                        (parentCategory = category.name),
                        (dropdown = false)
                    "
                    href="#"
                    class="
                      block
                      py-2
                      px-4
                      text-sm text-gray-700
                      hover:bg-gray-100
                      dark:hover:bg-gray-600
                      dark:text-gray-200
                      dark:hover:text-white
                    "
                    >{{ category.name }}</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-span-2 mt-3">
            <jet-input
              placeholder="Descripción"
              id="description"
              type="description"
              class="pl-2 mt-1 block w-full"
              v-model="form.description"
              required
              autocomplete="off"
            />
          </div>
          <div class="col-span-1 mt-2 flex items-center justify-center w-full">
            <label
              for="bannerDesktop"
              class="
                flex flex-col
                items-center
                justify-center
                w-full
                h-64
                rounded-lg
                cursor-pointer
                bg-gray-50
                dark:hover:bg-bray-800 dark:bg-gray-700
                hover:bg-gray-100
                dark:border-gray-600
                dark:hover:border-gray-500
                dark:hover:bg-gray-600
              "
            >
              <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg
                  class="
                    bg-coffe
                    rounded rounded-full
                    h-nav
                    w-nav
                    p-4
                    text-white
                  "
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"
                  ></path>
                </svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                  <span class="font-semibold">Subir banner escritorio</span>
                </p>
                <p class="text-xs text-gray-500 dark:text-gray-400">
                  MAX. 200kb
                </p>
                <p class="text-xs text-gray-500 dark:text-gray-400">
                  Alto 300px - Ancho 600px
                </p>
              </div>
              <input
                id="bannerDesktop"
                type="file"
                class="hidden"
                accept=".jpg,.png"
                @input="form.bannerDesktop = $event.target.files[0]"
              />
            </label>
          </div>

          <div class="col-span-1 mt-2 flex items-center justify-center w-full">
            <label
              for="bannerMovil"
              class="
                flex flex-col
                items-center
                justify-center
                w-full
                h-64
                rounded-lg
                cursor-pointer
                bg-gray-50
                dark:hover:bg-bray-800 dark:bg-gray-700
                hover:bg-gray-100
                dark:border-gray-600
                dark:hover:border-gray-500
                dark:hover:bg-gray-600
              "
            >
              <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg
                  class="
                    bg-coffe
                    rounded rounded-full
                    h-nav
                    w-nav
                    p-4
                    text-white
                  "
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"
                  ></path>
                </svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                  <span class="font-semibold">Subir banner móvil</span>
                </p>
                <p class="text-xs text-gray-500 dark:text-gray-400">
                  MAX. 200kb
                </p>
                <p class="text-xs text-gray-500 dark:text-gray-400">
                  Alto 300px - Ancho 600px
                </p>
              </div>
              <input
                id="bannerMovil"
                type="file"
                class="hidden"
                accept=".jpg,.png"
                @input="form.bannerMovil = $event.target.files[0]"
              />
            </label>
          </div>
          <div class="col-span-1 mt-2 flex items-center justify-center w-full">
            <label
              for="icon"
              class="
                flex flex-col
                items-center
                justify-center
                w-full
                h-64
                rounded-lg
                cursor-pointer
                bg-gray-50
                dark:hover:bg-bray-800 dark:bg-gray-700
                hover:bg-gray-100
                dark:border-gray-600
                dark:hover:border-gray-500
                dark:hover:bg-gray-600
              "
            >
              <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg
                  class="
                    bg-coffe
                    rounded rounded-full
                    h-nav
                    w-nav
                    p-4
                    text-white
                  "
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"
                  ></path>
                </svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                  <span class="font-semibold">Subir Ícono</span>
                </p>
                <p class="text-xs text-gray-500 dark:text-gray-400">
                  MAX. 200kb
                </p>
                <p class="text-xs text-gray-500 dark:text-gray-400">
                  Alto 300px - Ancho 600px
                </p>
              </div>
              <input
                id="icon"
                type="file"
                class="hidden"
                accept=".jpg,.png"
                @input="form.icon = $event.target.files[0]"
              />
            </label>
          </div>

          <div class="m-2">
            <input v-model="form.color" required type="color" id="style1" />
            <p class="text-center text-gray-500">Seleccione un color</p>
          </div>
          <div class="col-span-2">
            <jet-button
              @click="submit()"
              class="bg-primary w-full text-xl btn-auth text-white"
              :class="{ 'opacity-65': form.processing }"
              :disabled="form.processing"
            >
              Añadir nueva categoria
            </jet-button>
          </div>
        </form>
      </div>
      <div>
        <table
          class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
        >
          <thead
            class="
              text-xs text-gray-700
              uppercase
              bg-primary
              dark:bg-gray-700 dark:text-gray-400
            "
          >
            <tr>
              <th scope="col" class="p-4">
                <div class="flex items-center">
                  <input
                    id="checkbox-all-search"
                    type="checkbox"
                    class="
                      w-4
                      h-4
                      text-blue-600
                      bg-gray-100
                      border-gray-300
                      rounded rounded-full
                      focus:ring-blue-500
                      dark:focus:ring-blue-600 dark:ring-offset-gray-800
                      focus:ring-2
                      dark:bg-gray-700 dark:border-gray-600
                    "
                  />
                  <label for="checkbox-all-search" class="sr-only"
                    >checkbox</label
                  >
                </div>
              </th>
              <th scope="col" class="px-6 py-3">Ícono</th>
              <th scope="col" class="px-6 py-3">Nombre</th>
              <th scope="col" class="px-6 py-3">Cantidad</th>
              <th scope="col" class="px-6 py-3"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(category, index) in Categories"
              :key="index"
              class="
                bg-white
                border-b
                dark:bg-gray-800 dark:border-gray-700
                hover:bg-gray-50
                dark:hover:bg-gray-600
              "
            >
              <td class="w-4 p-4">
                <div class="flex items-center">
                  <input
                    id="checkbox-table-search-1"
                    type="checkbox"
                    class="
                      w-4
                      h-4
                      text-blue-600
                      bg-gray-100
                      border-gray-300
                      rounded rounded-full
                      focus:ring-tertiary
                      dark:focus:ring-blue-600 dark:ring-offset-gray-800
                      focus:ring-2
                      dark:bg-gray-700 dark:border-gray-600
                    "
                  />
                  <label for="checkbox-table-search-1" class="sr-only"
                    >checkbox</label
                  >
                </div>
              </td>
              <td class="px-6 py-4">
                <img
                  class="w-10 rounded-sm"
                  style="max-width=20px;"
                  :src="
                    category.url_icon
                      ? category.url_icon
                      : 'https://www.sinrumbofijo.com/wp-content/uploads/2016/05/default-placeholder.png'
                  "
                  alt="imagen categoria"
                />
              </td>
              <th
                scope="row"
                class="
                  px-6
                  py-4
                  font-medium
                  text-gray-900
                  dark:text-white
                  whitespace-nowrap
                "
              >
                {{ category.name }}
              </th>

              <td class="px-6 py-4">{{ category.products_count }}</td>

              <td class="px-6 py-4 w-24 text-right grid grid-cols-3 gap-4">
                <svg
                  @click="editCategory(category.id)"
                  class="w-6 h-6 text-green cursor-pointer"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                  ></path>
                </svg>
                <svg
                  @click="
                    (categoryDestroy = category.id), (modalDestroy = true)
                  "
                  class="w-6 h-6 text-danger cursor-pointer"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                  ></path>
                </svg>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      v-if="modalDestroy == true && categoryDestroy != null"
      id="popup-modal"
      tabindex="-1"
      class="
        overflow-y-auto overflow-x-hidden
        fixed
        top-0
        right-0
        left-0
        z-50
        md:inset-0
        h-modal
        md:h-full
        justify-center
        items-center
        flex
      "
      aria-modal="true"
      role="dialog"
    >
      <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <div class="relative bg-background rounded-lg shadow dark:bg-gray-700">
          <button
            type="button"
            class="
              absolute
              top-3
              right-2.5
              text-gray-400
              bg-transparent
              hover:bg-gray-200 hover:text-gray-900
              rounded-lg
              text-sm
              p-1.5
              ml-auto
              inline-flex
              items-center
              dark:hover:bg-gray-800 dark:hover:text-white
            "
            data-modal-toggle="popup-modal"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
          <div class="p-6 text-center">
            <h3
              class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400"
            >
              ¿Está seguro que deseas eliminar esta categoria?
            </h3>
            <button
              @click="destroy()"
              data-modal-toggle="popup-modal"
              type="button"
              class="
                text-cafe
                bg-white
                focus:ring-4 focus:outline-none focus:ring-red-300
                dark:focus:ring-red-800
                font-medium
                rounded-lg
                text-sm
                inline-flex
                items-center
                px-10
                py-2.5
                text-center
                mr-2
              "
            >
              Si
            </button>
            <button
              @click="(modaDestroy = false), (categoryDestroy = null)"
              data-modal-toggle="popup-modal"
              type="button"
              class="
                text-white
                bg-secundary
                focus:ring-4 focus:outline-none focus:ring-gray-200
                rounded-lg
                border border-secundary
                text-sm
                font-medium
                px-5
                py-2.5
                hover:text-gray-900
                focus:z-10
                dark:bg-gray-700
                dark:text-gray-300
                dark:border-gray-500
                dark:hover:text-white
                dark:hover:bg-gray-600
                dark:focus:ring-gray-600
              "
            >
              No, cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </dashboard-layout>
</template>
<script>
import { defineComponent } from "vue";
import JetButton from "@/Jetstream/Button.vue";
import { Head, Link } from "@inertiajs/inertia-vue3";
import { Inertia } from "@inertiajs/inertia";
import DashboardLayout from "@/Layouts/DashboardLayout.vue";
import JetInput from "@/Jetstream/Input.vue";

export default defineComponent({
  components: {
    Head,
    Link,
    JetButton,
    Inertia,
    DashboardLayout,
    JetInput,
  },

  props: {
    Categories: Object,
  },
  data() {
    return {
      modalDestroy: false,
      categoryDestroy: null,
      dropdown: false,
      parentCategory: "",
      form: this.$inertia.form({
        name: "",
        parentCategory: null,
        description: "",
        icon: null,
        bannerDesktop: null,
        bannerMovil: null,
        color: "#79B942",
      }),
      url: null,
    };
  },
  computed: {
    slug() {
      return this.form.name.toLowerCase().replace(/ /gi, "-");
    },
  },
  methods: {
    submit() {
      this.form.post(this.route("admin.product.categories.store"), {
        onFinish: () => this.form.reset("name"),
      });
    },
    editCategory(id) {
      let category = this.Categories.find((element) => {
        return element.id == id;
      });
      alert(category.name);
    },
    destroy() {
      if (this.categoryDestroy) {
        this.$inertia.delete(
          `/dashboard-productos-categorias-delete/${this.categoryDestroy}`,
          {
            onSuccess: (page) => {
              (this.modalDestroy = false), (this.categoryDestroy = null);
            },
          }
        );
      }
    },
  },
});
</script>
<style scoped>
#style1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 85%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#style1::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
}
#style1::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}
</style>
