<template>
  <div
    class="
      grid
      lg:grid-cols-6
      gap-0
      lg:h-product_cart lg:p-3
      bg-white
      rounded-lg
      lg:mb-4
      text-cafe
    "
  >
    <img class="col-span-1 rounded-lg h-logo mr-0" :src="urlFinal" />
    <div class="col-span-1 gap-0 grid grid-cols-3 container-quan">
      <div
        class="
          col-span-1
          grid grid-rows-3
          rounded-t-sm rounded-b-sm
          bg-quantity
          lg:w-10 lg:h-logo
        "
      >
        <div
          class="lg:text-2xl row-span-1 text-center text-bold cursor-pointer"
          @click="increase"
        >
          +
        </div>
        <div class="row-span-1 text-center">{{ totalQuanqity }}</div>
        <div class="row-span-1 text-center cursor-pointer" @click="decrease">
          —
        </div>
      </div>
    </div>
    <div class="col-span-3 container-descr lg:pt-2">
      <div class="grid grid-cols-3">
        <p class="text-2xl col-span-2 font-extrabold">{{ name }}</p>
        <p class="text-xl text-right font-extrabold">{{ finalPrice }}</p>
      </div>
      <p>{{ subTotalPrice }}</p>
      <p>{{ unit }}</p>
    </div>

    <div class="col-span-1 lg:ml-20 mt-3">
      <span @click="remove" class="cursor-pointer text-3xl text-right">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="17.096"
          height="19.538"
          viewBox="0 0 17.096 19.538"
        >
          <path
            id="trash-solid"
            d="M16.485,1.221H11.906L11.547.507A.916.916,0,0,0,10.727,0H6.365a.905.905,0,0,0-.817.508l-.359.714H.611A.611.611,0,0,0,0,1.832V3.053a.611.611,0,0,0,.611.611H16.485a.611.611,0,0,0,.611-.611V1.832A.611.611,0,0,0,16.485,1.221ZM2.03,17.82a1.832,1.832,0,0,0,1.828,1.717h9.38a1.832,1.832,0,0,0,1.828-1.717l.809-12.936H1.221Z"
            transform="translate(0 0)"
            fill="#613000"
          />
        </svg>
      </span>
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  props: ["id", "url", "name", "price", "unit", "quantity"],
  components: {},
  data() {
    return {
      subTotalPrice: new Intl.NumberFormat("es-CO", {
        style: "currency",
        currency: "COP",
      }).format(this.price),
      totalQuanqity: this.quantity,
    };
  },
  computed: {
    urlFinal() {
      if (this.url == "null") {
        return "https://www.sinrumbofijo.com/wp-content/uploads/2016/05/default-placeholder.png";
      } else {
        return this.url;
      }
    },
    finalPrice() {
      return new Intl.NumberFormat("es-CO", {
        style: "currency",
        currency: "COP",
      }).format(this.price * this.totalQuanqity);
    },
  },
  methods: {
    remove() {
      if (confirm("Are you sure you want to delete this product?")) {
        this.$inertia.delete(`/carrito/${this.id}`);
      }
    },
    increase() {
      this.totalQuanqity += 1;
      this.updateCart();
    },
    decrease() {
      if (this.totalQuanqity > 1) {
        this.totalQuanqity -= 1;
        this.updateCart();
      }
    },
    updateCart() {
      axios
        .post("/carrito/update", {
          id: this.id,
          quantity: this.totalQuanqity,
        })
        .then(function (response) {
          console.log(response);
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
});
</script>
<style scoped>
@media screen and (max-width: 600px) {
}
@media screen and (min-width: 601px) {
  .container-quan {
    width: 150px;
    margin-left: -10px;
  }
  .container-descr {
    margin-left: -80px;
  }
}
</style>
