<template>
  <dashboard-layout>
    <Head title="Usuarios crear" />
    
    <div class="grid grid-cols-3">
      <form
        @submit.prevent="submit"
        class="
          col-span-2
          grid grid-cols-2
          gap-2
          form form-login
          px-5
          lg:px-0
          text-primary
        "
      >
        <div class="flex space-x-5 mt-3">
          <jet-input
            placeholder="Nombres"
            id="name"
            type="name"
            class="pl-2 mt-1 block w-full"
            v-model="form.name"
            required
            autocomplete="off"
          />
        </div>
        <div class="flex space-x-5 mt-3">
          <jet-input
            placeholder="Apellidos"
            id="last_name"
            type="last_name"
            class="pl-2 mt-1 block w-full"
            v-model="form.last_name"
            required
            autocomplete="off"
          />
        </div>
        <div class="flex space-x-5 mt-3">
          <jet-input
            placeholder="Teléfono"
            id="phone"
            type="phone"
            class="mt-1 block w-full pl-2"
            v-model="form.phone"
            required
            autocomplete="off"
          />
        </div>
        <div class="flex space-x-5 mt-3">
          <jet-input
            placeholder="Correo"
            id="email"
            type="email"
            class="mt-1 block w-full"
            v-model="form.email"
            required
            autocomplete="off"
          />
        </div>
        <div class="flex space-x-5 mt-3">
          <button
            @click="dropdown = !dropdown"
            id="dropdownButton"
            data-dropdown-toggle="dropdown"
            class="
              font-bold
              h-xl
              py-2
              px-10
              w-full
              mt-3
              text-cafe
              bg-white
              font-bold
              rounded-lg
              text-sm text-center
              inline-flex
              items-center
              text-center
              mr-5
            "
            type="button"
          >
            Selecionar role
            <svg
              class="ml-2 w-4 h-4"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              ></path>
            </svg>
            {{ unit }}
          </button>

          <div
            v-if="dropdown === true"
            id="dropdown"
            class="
              z-10
              w-role
              text-base
              list-none
              bg-white
              rounded-lg
              divide-y divide-gray-100
              shadow
              absolute
              mt-20
              dark:bg-gray-700
            "
          >
            <ul class="py-1" aria-labelledby="dropdownButton">
              <li
                v-for="(role, index) in Roles"
                :key="index"
              >
                <a
                @click="form.role = role.name, dropdown = false"
                  href="#"
                  class="
                    block
                    py-2
                    px-4
                    text-sm text-gray-700
                    hover:bg-gray-100
                    dark:hover:bg-gray-600
                    dark:text-gray-200
                    dark:hover:text-white
                  "
                  >{{ role.name }}</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="flex space-x-5 mt-3">
          <jet-input
            placeholder="Contraseña"
            id="password"
            type="password"
            class="mt-1 block w-full"
            v-model="form.password"
            required
            autocomplete="current-password"
          />
        </div>
     
         <jet-button
            class="bg-primary w-full text-xl btn-auth text-white"
            :class="{ 'opacity-25': form.processing }"
            :disabled="form.processing"
          >
           Guardar
          </jet-button>
       
      </form>
    </div>
  </dashboard-layout>
</template>
<script>
import { defineComponent } from "vue";
import JetButton from "@/Jetstream/Button.vue";
import { Head, Link } from "@inertiajs/inertia-vue3";
import { Inertia } from "@inertiajs/inertia";
import DashboardLayout from "@/Layouts/DashboardLayout.vue";
import JetInput from "@/Jetstream/Input.vue";

export default defineComponent({
  components: {
    Head,
    Link,
    JetButton,
    Inertia,
    DashboardLayout,
    JetInput,
  },

  props: {
    Roles: Object,
  },
  data() {
    return {
      form: this.$inertia.form({
        name: "",
        last_name: "",
        email: "",
        phone: "",
        role: "",
        password: "",
        remember: false,
      }),
      dropdown: false,
    };
  },
  computed: {},
  methods: {
     submit() {
      this.form.post(this.route("admin.profile.store"));
    },
  },
});
</script>
