<template>
  <dashboard-layout>
    <Head title="Usuarios"/>
    <div class="grid grid-cols-4 gap-0">
      <div>
        <button
          id="dropdownDefault"
          data-dropdown-toggle="dropdown"
          class="
            text-green
            bg-white
            font-medium
            rounded-lg
            text-xl
            px-14
            py-1.5
            text-center
            inline-flex
            items-center
            border-2 border-primary
            dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
          "
          type="button"
        >
          Acciones
          <svg
            class="w-4 h-4 ml-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            ></path>
          </svg>
        </button>

        <div
          id="dropdown"
          class="
            z-10
            hidden
            bg-white
            divide-y divide-gray-100
            rounded
            shadow
            w-44
            dark:bg-gray-700
          "
          style="
            position: absolute;
            inset: auto auto 0px 0px;
            margin: 0px;
            transform: translate(354px, 28px);
          "
          data-popper-reference-hidden=""
          data-popper-escaped=""
          data-popper-placement="top"
        >
          <ul
            class="py-1 text-sm text-gray-700 dark:text-gray-200"
            aria-labelledby="dropdownDefault"
          >
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Dashboard</a
              >
            </li>
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Settings</a
              >
            </li>
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Earnings</a
              >
            </li>
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Sign out</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div>
        <Link :href="route('admin.profile.create')">
          <jet-button class="bg-green text-white text-xl mt-0 py-1.5 px-14">
            + Usuario
          </jet-button>
        </Link>
      </div>
    </div>
    <div class="grid grid-cols-1 mt-4">
      <div class="relative overflow-x-auto shadow-md bg-green sm:rounded-lg">
        <div class="p-4">
          <label for="table-search" class="sr-only">Buscar</label>
          <div class="relative mt-1">
            <div
              class="
                absolute
                inset-y-0
                left-0
                flex
                items-center
                pl-3
                pointer-events-none
              "
            >
              <svg
                class="w-5 h-5 text-gray-500 dark:text-gray-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </div>
            <input
              type="text"
              id="table-search"
              class="
                bg-gray-50
                border border-gray-300
                text-gray-900 text-sm
                rounded-lg
                focus:ring-blue-500 focus:border-blue-500
                block
                w-80
                pl-10
                p-2.5
                dark:bg-gray-700
                dark:border-gray-600
                dark:placeholder-gray-400
                dark:text-white
                dark:focus:ring-blue-500
                dark:focus:border-blue-500
              "
              placeholder="Busqueda usuarios..."
            />
          </div>
        </div>
        <table
          class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
        >
          <thead
            class="
              text-xs text-gray-700
              uppercase
              bg-gray-50
              dark:bg-gray-700 dark:text-gray-400
            "
          >
            <tr>
              <th scope="col" class="p-4">
                <div class="flex items-center">
                  <input
                    id="checkbox-all-search"
                    type="checkbox"
                    class="
                      w-4
                      h-4
                      text-blue-600
                      bg-gray-100
                      border-gray-300
                      rounded rounded-full
                      focus:ring-blue-500
                      dark:focus:ring-blue-600 dark:ring-offset-gray-800
                      focus:ring-2
                      dark:bg-gray-700 dark:border-gray-600
                    "
                  />
                  <label for="checkbox-all-search" class="sr-only"
                    >checkbox</label
                  >
                </div>
              </th>
              <th scope="col" class="px-6 py-3">Nombre</th>
              <th scope="col" class="px-6 py-3">Role</th>
              <th scope="col" class="px-6 py-3">Última sesión</th>
              <th scope="col" class="px-6 py-3">Teléfono</th>
              <th scope="col" class="px-6 py-3"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(user, index) in Users"
              :key="index"
              class="
                bg-white
                border-b
                dark:bg-gray-800 dark:border-gray-700
                hover:bg-gray-50
                dark:hover:bg-gray-600
              "
            >
              <td class="w-4 p-4">
                <div class="flex items-center">
                  <input
                    id="checkbox-table-search-1"
                    type="checkbox"
                    class="
                      w-4
                      h-4
                      text-blue-600
                      bg-gray-100
                      border-gray-300
                      rounded rounded-full
                      focus:ring-tertiary
                      dark:focus:ring-blue-600 dark:ring-offset-gray-800
                      focus:ring-2
                      dark:bg-gray-700 dark:border-gray-600
                    "
                  />
                  <label for="checkbox-table-search-1" class="sr-only"
                    >checkbox</label
                  >
                </div>
              </td>
              <th
                scope="row"
                class="
                  px-6
                  py-4
                  font-medium
                  text-gray-900
                  dark:text-white
                  whitespace-nowrap
                "
              >
                {{ user.name }}
              </th>
              <td class="px-6 py-4">{{ user.roles[0].name }}</td>
              <td class="px-6 py-4">{{ user.created_at }}</td>
              <td class="px-6 py-4">{{ user.phone }}</td>
              <td class="px-6 py-4 w-24 text-right grid grid-cols-2 gap-0">
                <svg
                  class="w-6 h-6 text-green"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                  ></path>
                </svg>
                <svg
                  class="w-6 h-6 text-danger"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                  ></path>
                </svg>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </dashboard-layout>
</template>
<script>
import { defineComponent } from "vue";
import JetButton from "@/Jetstream/Button.vue";
import { Head, Link } from "@inertiajs/inertia-vue3";
import { Inertia } from "@inertiajs/inertia";
import DashboardLayout from "@/Layouts/DashboardLayout.vue";

export default defineComponent({
  components: {
    Head,
    Link,
    JetButton,
    Inertia,
    DashboardLayout,
  },

  props: {
    Users: Object,
  },
  data() {
    return {};
  },
  computed: {},
  methods: {},
});
</script>
