<template>
  <app-layout>
    <Head title="Finalizar compra" />
    <div class="grid grid-cols-1 lg:px-24 pt-28">
      <div class="col-span-1">
        <p class="text-xl text-primary lg:mb-4">
          Inicio<span>/</span>Carrito<span>/Finalizar compra</span>
        </p>
      </div>
      <div v-if="Cart.length != 0">
        <div class="col-span-1 grid lg:grid-cols-7 gap-4 lg:mb-4">
          <h1 class="lg:col-span-4 font-bold lg:text-3xl text-cafe mb-2">
            Finalizar compra
          </h1>
          <div class="lg:col-span-3 bg-yellow lg:py-4 rounded-lg">
            <p class="text-cafe text-lg text-center lg:mx-20">
              Tu domicilio seria entregado la semana siguiente a tu solicitud
            </p>
          </div>
        </div>
        <div class="grid grid-cols-7 gap-4 mb-4">
          <div class="lg:col-span-4 lg:-mt-8">
            <p class="text-xl text-cafe mb-2">Datos de contacto</p>
            <form
              @submit.prevent="submit"
              class="form form-login px-5 lg:px-0 text-primary"
            >
              <div class="flex space-x-5 mt-1">
                <jet-input
                  placeholder="Nombre"
                  id="name"
                  type="text"
                  class="mt-1 block lg:pl-4 w-full h-input_checkout"
                  v-model="form.billing.name"
                  required
                  autocomplete="off"
                />
              </div>
              <div class="flex space-x-5 mt-1">
                <jet-input
                  placeholder="Apellidos"
                  id="lastname"
                  type="text"
                  class="block lg:pl-4 w-full h-input_checkout"
                  v-model="form.billing.last_name"
                  required
                  autocomplete="off"
                />
              </div>
              <div class="flex space-x-5 mt-1">
                <jet-input
                  placeholder="Télefono"
                  id="phone"
                  type="tel"
                  class="block lg:pl-4 w-full h-input_checkout"
                  v-model="form.billing.phone"
                  required
                  autocomplete="off"
                />
              </div>
              <div class="flex space-x-5 mt-1">
                <jet-input
                  placeholder="Correo"
                  id="email"
                  type="email"
                  class="block lg:pl-4 w-full h-input_checkout"
                  v-model="form.billing.email"
                  required
                  autocomplete="off"
                />
              </div>
              <div class="flex space-x-5 mt-1">
                <jet-input
                  placeholder="N° de documento"
                  id="document"
                  type="number"
                  class="block lg:pl-4 w-full h-input_checkout"
                  v-model="form.billing.document"
                  required
                  autocomplete="off"
                />
              </div>
              <div class="flex space-x-5 mt-1">
                <p class="text-cafe font-bold lg:text-xl">
                  ¿Cómo quieres recibir tu pedido?
                </p>
              </div>

              <div class="grid lg:grid-cols-2 gap-4 mt-1 mb-2">
                <a
                  @click="
                    (typeShipping = 'normal'),
                      (form.shipping.typeShipping = 'normal')
                  "
                  role="button"
                  :class="[
                    typeShipping == 'normal'
                      ? 'bg-coffe'
                      : 'bg-white text-cafe',
                  ]"
                  class="
                    hover:bg-blue-dark
                    text-white
                    font-bold
                    h-xl
                    py-3.5
                    px-24
                    rounded-lg
                    mt-3
                    w-full
                    lg:text-sm
                    sm:mr-2
                  "
                >
                  Envío a domicilio
                </a>
                <a
                  @click="
                    (typeShipping = 'store'),
                      (form.shipping.express = false),
                      (form.shipping.typeShipping = 'store')
                  "
                  role="button"
                  :class="[
                    typeShipping == 'store' ? 'bg-coffe' : 'bg-white text-cafe',
                  ]"
                  class="
                    hover:bg-blue-dark
                    text-white
                    font-bold
                    h-xl
                    py-3.5
                    px-24
                    rounded-lg
                    mt-3
                    w-full
                    lg:text-sm
                    sm:mr-2
                  "
                >
                  Recogida en tienda
                </a>
              </div>
              <div v-if="typeShipping == 'normal'">
                <div class="grid grid-cols-2">
                  <p class="text-xl text-cafe mb-2">Datos de envío</p>
                  <div v-if="$page.props.user" @click="showAddresses" class="text-right cursor-pointer">
                    <p class="inline-block text-xltext-cafe mb-2">
                      Mis direcciónes
                    </p>
                    <svg
                      class="inline-block w-6 h-6"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7"
                      ></path>
                    </svg>
                  </div>
                </div>
                <div v-if="showAddress == true" class="grid grid-cols-2 gap-2">
                  <div
                    v-for="(address, index) in Addresses"
                    :key="index"
                    class="container-address bg-white grid grid-cols-6 mb-4"
                  >
                    <div
                      @click="setAddress(address)"
                      class="col-span-5 cursor-pointer"
                    >
                      <p>({{ address.city + " - " + address.department }})</p>
                      <p>{{ address.address }}</p>
                      <p>{{ address.reference }}</p>
                    </div>
                  </div>
                </div>
                <div class="flex space-x-5 mt-1">
                  <select
                    class="
                      border-none
                      rounded-lg
                      focus:border-primary
                      focus:ring
                      focus:ring-primary
                      focus:ring-opacity-50
                      block
                      w-full
                      p-2.5
                      h-input_checkout
                      text-cafe
                    "
                  >
                    <option hidden>Pais*</option>
                    <option @click="country = true">Colombia</option>
                  </select>
                </div>

                <div class="flex space-x-5 mt-1">
                  <select
                    :disabled="country == false"
                    class="
                      border-none
                      rounded-lg
                      focus:border-primary
                      focus:ring
                      focus:ring-primary
                      focus:ring-opacity-50
                      block
                      w-full
                      p-2.5
                      h-input_checkout
                      text-cafe
                    "
                  >
                    <option hidden>Departamento</option>
                    <option
                      :value="department.departamento"
                      v-on:keyup.enter="setDepartment(index)"
                      @click="setDepartment(index)"
                      v-for="(department, index) in departments"
                      :key="index"
                    >
                      {{ department.departamento }}
                    </option>
                  </select>
                </div>
                <div class="flex space-x-5 mt-1">
                  <select
                    :disabled="department.length == 0"
                    class="
                      border-none
                      rounded-lg
                      focus:border-primary
                      focus:ring
                      focus:ring-primary
                      focus:ring-opacity-50
                      block
                      w-full
                      p-2.5
                      h-input_checkout
                      text-cafe
                    "
                  >
                    <option hidden>Ciudad</option>
                    <option
                      :value="city"
                      v-for="(city, index) in department.ciudades"
                      :key="index"
                    >
                      {{ city }}
                    </option>
                  </select>
                </div>
                <div class="flex space-x-5 mt-1">
                  <jet-input
                    placeholder="Dirección"
                    id="address"
                    type="text"
                    class="block lg:pl-4 w-full h-input_checkout"
                    v-model="form.shipping.address"
                    required
                    autocomplete="off"
                  />
                </div>
            
                <div class="flex space-x-5 mt-1">
                  <jet-input
                    placeholder="Instrucciones"
                    id="detail"
                    type="text"
                    class="block lg:pl-4 w-full h-input_checkout"
                    v-model="form.shipping.reference"
                    required
                    autocomplete="off"
                  />
                </div>
                    <div class="flex space-x-5 mt-1">
                  <jet-input
                    placeholder="Observaciones del pedido"
                    id="observation"
                    type="text"
                    class="block lg:pl-4 w-full h-input_checkout"
                    v-model="form.observation"
                    required
                    autocomplete="off"
                  />
                </div>
                <div class="lg:mt-2 justify-start">
                  <jet-checkbox
                    class="cursor-pointer"
                    v-model:checked="form.shipping.express"
                  />
                  <p class="-mt-8 ml-6 font-bold">
                    Quiero que mi pedido llegue hoy
                  </p>
                  <span class="text-xs ml-6"
                    >Recuerda que al marcar esta opción tu pedido llegará más
                    rápido, por lo que generará un sobrecosto
                  </span>
                </div>
              </div>
            </form>
          </div>
          <aside
            class="
              lg:col-span-3 lg:px-6 lg:text-lg
              text-cafe
              gap-1
              sticky
              top-0
              font-bold
              lg:pt-5
              bg-aside
              max-h-aside-checkout
              lg:rounded-lg lg:pb-5
            "
          >
            <p class="text-cafe font-bold text-xl lg:mb-4">Tu pedido</p>
            <div class="col-span-3 grid lg:grid-cols-3">
              <p class="col-span-2 text-cafe text-base">Productos</p>
              <p class="col-span-1 text-cafe text-right text-base lg:mb-6">
                Subtotal
              </p>

              <div
                class="col-span-3 h-lg grid lg:grid-cols-3 lg:mb-3"
                v-for="(product, index) in Cart"
                :key="index"
              >
                <p class="col-span-2 text-cafe text-sm">
                  {{ product.quantity }} {{ product.attributes.unit }}
                  {{ product.name }}
                </p>
                <p class="col-span-1 text-cafe text-right text-sm">
                  {{
                    Intl.NumberFormat("es-CO", {
                      style: "currency",
                      currency: "COP",
                    }).format(product.price * product.quantity)
                  }}
                </p>
              </div>

              <p class="col-span-2 text-cafe text-base lg:mt-6">Subtotal</p>
              <p
                class="
                  col-span-1
                  text-cafe text-right
                  lg:mt-6
                  text-base
                  lg:mb-2
                "
              >
                {{
                  Intl.NumberFormat("es-CO", {
                    style: "currency",
                    currency: "COP",
                  }).format(subTotal)
                }}
              </p>
              <p class="col-span-2 text-cafe text-base">Envio</p>
              <p class="col-span-1 text-cafe text-right text-base lg:mb-2">
                {{
                  Intl.NumberFormat("es-CO", {
                    style: "currency",
                    currency: "COP",
                  }).format(shippingBasic)
                }}
              </p>
              <p
                v-if="form.shipping.express"
                class="col-span-2 text-cafe text-base"
              >
                Pedido express
              </p>
              <p
                v-if="form.shipping.express"
                class="col-span-1 text-cafe text-right text-base lg:mb-2"
              >
                {{
                  Intl.NumberFormat("es-CO", {
                    style: "currency",
                    currency: "COP",
                  }).format(shippingExpress)
                }}
              </p>
              <p class="col-span-2 text-cafe text-xl">Total</p>
              <p class="col-span-1 text-cafe text-right text-xl">
                {{
                  Intl.NumberFormat("es-CO", {
                    style: "currency",
                    currency: "COP",
                  }).format(total)
                }}
              </p>
            </div>
            <jet-button
              @click="submit"
              class="bg-coffe w-full text-white text-lg sm:mr-2"
            >
              Finalizar compra
            </jet-button>
          </aside>
        </div>
      </div>
      <div class="h-product_cart" v-else>
        <p class="text-center">Carrito vació</p>
      </div>
    </div>
  </app-layout>
</template>
<script>
import { defineComponent } from "vue";
import { Head, Link } from "@inertiajs/inertia-vue3";
import JetButton from "@/Jetstream/Button.vue";
import AppLayout from "@/Layouts/AppLayout.vue";
import JetInput from "@/Jetstream/Input.vue";
import JetCheckbox from "@/Jetstream/Checkbox.vue";

export default defineComponent({
  components: {
    Head,
    Link,
    JetButton,
    AppLayout,
    JetInput,
    JetCheckbox,
  },
  props: {
    Cart: Array,
    Addresses: Array,
  },
  data() {
    return {
      subTotal: 0,
      subTotals: [],
      shippingBasic: 5000,
      form: this.$inertia.form({
        billing: {
          name: null,
          last_name: null,
          phone: null,
          email: null,
          document: null,
        },
        shipping: {
          typeShipping: "normal",
          express: false,
          country: null,
          department: null,
          address: null,
          reference: null,
        },
        items: this.Cart,
        shippingBasic: 0,
        shippingExpress: 0,
        subTotal: null,
        total: null,
        observation: null,
      }),
      typeShipping: "normal",
      departments: [],
      department: [],
      country: false,
      shippingExpress: 2000,
      showAddress: false,
      labelCountry: "Pais*",
    };
  },
  mounted() {
    this.SumSubTotal();
    this.getDepartments();
  },
  methods: {
    submit() {
      this.form.subTotal = this.subTotal;
      this.form.total = this.total;
      this.form.shippingBasic = this.shippingBasic;
      this.form.shippingExpress = this.shippingExpress;
      this.form.typeShipping = this.typeShipping;
      this.form.post(this.route("order.store"), {
        onSuccess: () => {
          this.form.reset();
        },
      });
    },
    setAddress(address) {
      this.form.shipping.country = address.country;
      this.form.shipping.department = address.department;
      this.department = address.department;
      this.form.shipping.city = address.city;
      this.form.shipping.address = address.address;
      this.form.shipping.reference = address.reference;
      this.showAddress = false;
    },
    showAddresses() {
      this.showAddress = true;
    },
    getDepartments() {
      axios
        .get("http://127.0.0.1:8000/storage/colombia.min.json")
        .then((res) => {
          this.departments = res.data;
        });
    },
    setDepartment(index) {
      this.department = [];
      this.department = this.departments[index];
      this.form.shipping.department = this.departments[index];
    },
    SumSubTotal() {
      for (let index in this.Cart) {
        this.subTotals.push(this.Cart[index].price * this.Cart[index].quantity);
      }
      this.subTotal = this.subTotals.reduce((a, b) => a + b, 0);
    },
  },
  computed: {
    total() {
      return this.form.shipping.express
        ? this.subTotal + this.shippingBasic + this.shippingExpress
        : this.subTotal + this.shippingBasic;
    },
  },
});
</script>
<style scoped>
.container-address {
  height: auto;
  border: 2px solid #613000;
  border-radius: 15px;
  padding: 1em;
}
@media screen and (max-width: 600px) {
  .container-image-single-product {
    height: 350px;
    width: 100vw;
    border-radius: 0 0 20px 20px;
  }
  .container-description {
    height: auto;
    border: 2px solid #613000;
    border-radius: 15px;
    padding: 1em;
  }
}
@media screen and (min-width: 601px) {
  .container-image-single-product {
    height: 380px;
    width: 100vw;
    border-radius: 10px;
  }
  .container-description {
    height: auto;
    border: 2px solid #613000;
    border-radius: 15px;
  }
  .container-image-sm-product {
    border-radius: 15px;
    min-height: 70px;
  }
}
</style>
