<template>
  <app-layout>
    <Head :title="Product.name" />

    <div class="grid grid-cols-2 gap-0 lg:gap-x-10 pt-20 lg:pt-32 lg:px-24">
      <!-- <div class="bg-white pl-2 pt-2 h-xl">
        <Link :href="route('home')"
          ><i class="fas fa-chevron-circle-left text-green text-2xl"></i
        ></Link>
      </div>
      <div class="bg-white text-right pt-2 h-xl">
        <i class="mr-4 far fa-heart text-green text-2xl cursor-pointer"></i>
      </div> -->
      <!-- breadcrumbs desktop -->

      <div class="hidden lg:block col-span-2 mb-5">
        <!-- {{ Product }} -->
        <p v-if="Product.category != null" class="text-xl text-primary">
          Inicio<span>/</span>{{ Product.category.name }}<span>/</span
          >{{ Product.name }}
        </p>
        <p v-else class="text-xl text-primary">
          Inicio<span>/</span> Sin categoria<span>/</span>{{ Product.name }}
        </p>
      </div>

      <div class="col-span-2 lg:col-span-1 gap-2 grid lg:grid-cols-5">
        <!--END  breadcrumbs desktop -->

        <div
          v-if="Product.pictures[0]"
          class="lg:col-span-1 grid-rows-3 row-span-3 hidden lg:block"
        >
          <img
            v-for="(image, i) in Product.pictures"
            :key="i"
            @click="indexImage = i"
            class="
              w-20
              container-image-sm-product
              col-span-2
              lg:col-span-4
              shadow-md
              lg:shadow-none
              mb-5
              cursor-pointer
            "
            :src="'https://disfrutasmifinca.com/' + image.url"
            :alt="Product.name"
          />
        </div>
        <img
          :class="Product.pictures[0] ? 'lg:col-span-4' : 'lg:col-span-5'"
          class="
            container-image-single-product
            col-span-2
            lg:col-span-4
            shadow-md
            lg:shadow-none
            mb-5
          "
          :src="
            Product.pictures[0]
              ? 'https://disfrutasmifinca.com/' + Product.pictures[indexImage].url
              : 'https://www.sinrumbofijo.com/wp-content/uploads/2016/05/default-placeholder.png'
          "
          :alt="Product.name"
        />
      </div>
      <!-- breadcrumbs mobile -->
      <div class="col-span-2 px-4 mb-4 lg:hidden">
        <p class="text-sm text-primary">
          Inicio<span>/</span>category mobile<span>/</span>{{ Product.name }}
        </p>
      </div>
      <!-- END breadcrumbs mobile -->

      <div class="col-span-2 lg:col-span-1 mx-4 lg:mx-0 lg:grid-cols-2">
        <div class="col-span-2 lg:mb-5">
          <p class="text-sm lg:text-lg text-primary">
            SKU:
            <span>{{ sku }}</span>
          </p>
        </div>
        <div class="col-span-2 grid grid-cols-2 lg:mb-5">
          <p class="font-bold text-primary text-2xl">{{ Product.name }}</p>
          <p class="col-span-1 font-bold text-primary text-right text-2xl">
            ${{ price }}
          </p>
          <p class="text-coffe">{{ stock }}<span> diponibles</span></p>
        </div>
        <div class="grid grid-cols-6 gap-0 px-0 lg:gap-4 lg:mb-5">
          <div class="col-span-4 lg:px-0">
            <jet-button
              v-if="Product.product_type == 'simple'"
              class="bg-secundary w-full text-white text-xl sm:mr-2"
            >
              {{ unit }}
            </jet-button>
            <span
              @click="dropdown = !dropdown"
              v-if="Product.product_type == 'variable'"
              id="dropdownButton"
              data-dropdown-toggle="dropdown"
              class="
                font-bold
                h-xl
                py-2
                px-10
                w-full
                mt-3
                text-white
                bg-btn-orange
                font-bold
                rounded-lg
                text-sm text-center
                inline-flex
                items-center
                text-center
                mr-5
              "
              type="button"
            >
              Selecionar unidad de medida
              <svg
                class="ml-2 w-4 h-4"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
                ></path>
              </svg>
              {{ unit }}
            </span>

            <div
              v-if="dropdown === true"
              id="dropdown"
              class="
                z-10
                w-dropdown
                text-base
                list-none
                bg-white
                rounded-lg
                divide-y divide-gray-100
                shadow
                absolute
                mt-2
                dark:bg-gray-700
              "
            >
              <ul class="py-1" aria-labelledby="dropdownButton">
                <li
                  @click="
                    changeUnit(Product.values[index].term_id),
                      (dropdown = false),
                      (indexImage = index)
                  "
                  v-for="(unit, index) in Product.values"
                  :key="index"
                >
                  <span
                    class="
                      block
                      py-2
                      px-4
                      text-sm text-gray-700
                      hover:bg-gray-100
                      dark:hover:bg-gray-600
                      dark:text-gray-200
                      dark:hover:text-white
                    "
                    >{{ unit.term.name }}</span
                  >
                </li>
              </ul>
            </div>
          </div>
          <div
            class="
              col-span-2
              pr-4
              lg:px-0
              flex flex-row
              mb-4
              ml-4
              lg:ml-0
              w-full
              items-center
            "
          >
            <button
              @click="decrease"
              class="
                h-xl
                mt-3
                rounded-tl-lg rounded-bl-lg
                bg-quantity
                focus:outline-none
                text-primary
                font-extrabold
                py-1
                px-3
                w-40
                inline-flex
                items-center
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M18 12H6"
                />
              </svg>
            </button>
            <p
              class="
                h-xl
                mt-3
                bg-quantity
                focus:outline-none
                font-bold
                text-primary
                py-1
                px-1
                w-40
                mx-0
                inline-flex
                items-center
              "
            >
              {{ quantity }}
            </p>
            <button
              @click="increase"
              class="
                h-xl
                mt-3
                rounded-tr-lg rounded-br-lg
                bg-quantity
                focus:outline-none
                active:outline-none
                text-primary
                font-extrabold
                py-1
                px-1
                w-40
                inline-flex
                items-center
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                />
              </svg>
            </button>
          </div>
        </div>
        <div class="mb-4 grid grid-cols-3 gap-2 lg:mx-0">
          <p class="col-span-3">¿Cómo quieres tu producto?</p>
          <p
            class="
              col-span-1
              border border-secundary
              rounded-lg
              p-3
              text-center
            "
          >
            Grandes
          </p>
          <p
            class="
              col-span-1
              border border-secundary
              rounded-lg
              p-3
              text-center
            "
          >
            Grandes
          </p>
          <p
            class="
              col-span-1
              border border-secundary
              rounded-lg
              p-3
              text-center
            "
          >
            Grandes
          </p>
        </div>
        <div class="hidden lg:block">
          <jet-button
            @click="addTocart"
            class="bg-coffe w-full text-white text-xl"
          >
            Añadir al carrito
          </jet-button>
        </div>
      </div>
    </div>
    <!-- Description -->
    <div
      class="
        grid-cols-1 grid
        lg:grid-cols-4
        mx-4
        lg:mx-24
        gap-0
        lg:gap-4 lg:px-10 lg:py-10
        mb-4
        container-description
      "
    >
      <div class="col-span-2">
        <p class="description-product text-lg font-bold text-primary">
          Descripción
        </p>
        <p class="mb-4 text-justify">
          {{
            Product.product_type == "simple"
              ? Product.meta.description
              : Product.description
          }}
        </p>
      </div>
      <div class="grid grid-cols-2 lg:col-span-2">
        <p class="col-span-1 font-bold text-sm text-primary truncate">
          Nombre del producto
        </p>
        <p
          class="
            col-span-1
            text-sm text-primary text-right
            lg:text-center
            mt-1
            truncate
          "
        >
          {{ Product.name }}
        </p>
        <p class="col-span-1 font-bold text-sm text-primary">Categoria</p>
        <p
          v-if="Product.category != null"
          class="
            col-span-1
            text-sm text-primary text-right
            lg:text-center
            mt-1
            truncate
          "
        >
          {{ Product.category.name }}
        </p>
        <p
          v-else
          class="
            col-span-1
            text-sm text-primary text-right
            lg:text-center
            mt-1
            truncate
          "
        >
          Sin categoria
        </p>
        <p class="col-span-1 font-bold text-sm text-primary">
          Unidad de medida
        </p>
        <p
          class="
            col-span-1
            text-sm text-primary text-right
            lg:text-center
            mt-1
            truncate
          "
        >
          {{ unit }}
        </p>

        <p class="col-span-1 font-bold text-sm text-primary">Origen</p>
        <p
          class="
            col-span-1
            text-sm text-primary text-right
            lg:text-center
            mt-1
            truncate
          "
        >
          {{ Product.meta ? Product.meta.origin : "" }}
        </p>
      </div>
    </div>
    <!-- END description -->
    <div
      class="
        grid grid-cols-3
        lg:grid-cols-6
        gap-4
        px-5
        lg:px-24
        2xl:px-60
        mb-10
      "
    >
      <p class="col-span-3 lg:col-span-6 text-cafe text-xl font-bold">
        Te puede interesar
      </p>
      <product
        v-for="(product, index) in Products"
        :key="index"
        :url="
          product.pictures[0]
            ? 'https://disfrutasmifinca.com/' + product.pictures[0].url
            : 'https://www.sinrumbofijo.com/wp-content/uploads/2016/05/default-placeholder.png'
        "
        :name="product.name"
        :price="
          product.product_type == 'variable'
            ? product.values[0].price
            : product.meta.price
        "
        :unit="
          product.product_type == 'variable'
            ? product.values[0].term.name
            : product.unit
        "
        :value_unit="
          product.product_type == 'variable' ? '' : product.meta.value_unit
        "
        :slug="product.slug"
      />
    </div>
  </app-layout>
</template>
<script>
import { defineComponent } from "vue";
import { Head, Link } from "@inertiajs/inertia-vue3";
import JetButton from "@/Jetstream/Button.vue";
import Product from "@/Components/Product.vue";
import AppLayout from "@/Layouts/AppLayout.vue";

export default defineComponent({
  components: {
    Head,
    Link,
    JetButton,
    Product,
    AppLayout,
  },
  props: {
    Product: Object,
    Products: Object,
  },

  data() {
    return {
      dropdown: false,
      indexImage: 0,
      price:
        this.Product.product_type == "simple"
          ? this.Product.meta.price
          : this.Product.values[0].price,
      unit:
        this.Product.product_type == "simple"
          ? this.Product.meta.unit
          : this.Product.values[0].term.name,
      stock:
        this.Product.product_type == "simple"
          ? this.Product.meta.stock
          : this.Product.values[0].stock,
      quantity: 1,
      sku:
        this.Product.product_type == "simple"
          ? this.Product.sku
          : this.Product.values[0].sku,
      origin: this.Product.product_type == "simple" ? Product.origin : "",
      form: this.$inertia.form({
        id: this.Product.id,
        name: this.Product.name,
        price:
          this.Product.product_type == "simple"
            ? this.Product.meta.price
            : this.Product.values[0].price,
        quantity: 1,
        image: this.Product.pictures[0] ? this.Product.pictures[0].url : "null",
        unitProduct:
          this.Product.product_type == "simple"
            ? this.Product.unit
            : this.Product.values[0].term.name,
        stock:
          this.Product.product_type == "simple"
            ? this.Product.meta.stock
            : this.Product.values[0].stock,
      }),
    };
  },
  methods: {
    changeUnit(index) {
      this.quantity = 1;
      let value = (this.unit = this.Product.values.filter((value) => {
        return value.term_id == index;
      }));
      this.unit = value[0].term.name;
      this.stock = value[0].stock;
      this.price = value[0].price;
      this.sku = value[0].sku;
      this.form.unitProduct = this.unit;
      this.form.price = value[0].price;
    },
    addTocart() {
      this.form.post("/carrito");
    },
    increase() {
      if (this.quantity >= this.stock) {
        alert("Stock maximo superado");
      } else {
        this.quantity += 1;
        this.form.quantity = this.quantity;
      }
    },
    decrease() {
      if (this.quantity > 1) {
        this.quantity -= 1;
        this.form.quantity = this.quantity;
      }
    },
  },
});
</script>
<style scoped>
@media screen and (max-width: 600px) {
  .container-image-single-product {
    height: 350px;
    width: 100vw;
    border-radius: 0 0 20px 20px;
  }
  .container-description {
    height: auto;
    border: 2px solid #613000;
    border-radius: 15px;
    padding: 1em;
  }
}
@media screen and (min-width: 601px) {
  .container-image-single-product {
    height: 380px;
    width: 100vw;
    border-radius: 10px;
  }
  .container-description {
    height: auto;
    border: 2px solid #613000;
    border-radius: 15px;
  }
  .container-image-sm-product {
    border-radius: 15px;
    min-height: 70px;
  }
}
</style>
