<template>
 <dashboard-layout>
    <Head title="Dashboard" />
    <div>

    </div>
  </dashboard-layout>
</template>
<script>
import { defineComponent } from "vue";
import JetButton from "@/Jetstream/Button.vue";
import { Head, Link } from "@inertiajs/inertia-vue3";
import { Inertia } from "@inertiajs/inertia";
import DashboardLayout from "@/Layouts/DashboardLayout.vue";

export default defineComponent({
  components: {
    Head,
    Link,
    JetButton,
    Inertia,
    DashboardLayout
  },

  props: {},
  data() {
    return {
    };
  },
  computed: {},
  methods: {},
});
</script>
