<template>
  <div class="container-address bg-white grid grid-cols-6 mb-4">
    <div @click="edit" class="col-span-5">
      <p>({{ city + " - " + department }})</p>
      <p>{{ address }}</p>
      <p>{{ reference }}</p>
    </div>
    <div class="col-span-1 lg:ml-16 mt-1">
      <span @click="showModal" class="cursor-pointer text-3xl text-right">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="17.096"
          height="19.538"
          viewBox="0 0 17.096 19.538"
        >
          <path
            id="trash-solid"
            d="M16.485,1.221H11.906L11.547.507A.916.916,0,0,0,10.727,0H6.365a.905.905,0,0,0-.817.508l-.359.714H.611A.611.611,0,0,0,0,1.832V3.053a.611.611,0,0,0,.611.611H16.485a.611.611,0,0,0,.611-.611V1.832A.611.611,0,0,0,16.485,1.221ZM2.03,17.82a1.832,1.832,0,0,0,1.828,1.717h9.38a1.832,1.832,0,0,0,1.828-1.717l.809-12.936H1.221Z"
            transform="translate(0 0)"
            fill="#EB5B1F"
          />
        </svg>
      </span>
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    id: String,
    country: String,
    code_country: String,
    department: String,
    code_department: String,
    address: String,
    city: String,
    reference: String,
  },
  methods: {
    showModal() {
      this.$emit("showModal", this.id);
    },
    edit() {
      this.$emit("editAddress", this.id);
    },
    remove(id) {
      this.$inertia.delete(`/direcciones/${id}`, {
        onSuccess: () => {
          console.log("delete");
        },
      });
    },
  },
});
</script>
<style scoped>
.container-address {
  height: auto;
  border: 2px solid #613000;
  border-radius: 15px;
  padding: 1em;
}
@media screen and (max-width: 600px) {
}
@media screen and (min-width: 601px) {
}
</style>
