<template>
  <div class="py-10 px-3 lg:px-0 lg:m-0">
    <div class="container_image_category" :style="cssVars">
      <img
        class="image_category lg:w-24 m-auto lg:mt-8"
        :src="url"
        alt="imagen categoria"
      />
    </div>
    <p class="text-center text-xs lg:px-4 lg:text-lg lg:font-light text-cafe truncate">{{ name }}</p>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  props: ["url", "name", "color"],
  computed: {
    cssVars() {
      return {
        "--color-border": this.color,
      };
    },
  },
});
</script>
<style scoped>
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .container_image_category {
    border: 2px solid var(--color-border);
    padding: 15px;
    border-radius: 1em;
    width: 120px;
    height: 120px;
  }
  .image_category {
    margin: auto;
  }
}
@media screen and (min-width: 601px) {
  .container_image_category {
    border: 2px solid var(--color-border);
    padding: 15px;
    border-radius: 1em;
    width: auto;
    height: 200px;
  }
}
</style>
