<template>
  <div class="mobile_menu_container fixed grid grid-cols-3 gap-4">
      <p>lorem</p>
      <p>lorem</p>
      <p>lorem</p>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
//   props: ["url", "name", "price", "unit"],
});
</script>
<style scoped>
.mobile_menu_container{
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  color: white;
}

</style>
