<template>
  <div class="container_image_offer">
    <img class="rounded-lg img_offer" :src="url" alt="imagen oferta" />
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  props: ["url", "name"],
});
</script>
<style scoped>
@media screen and (max-width: 600px) {
  .container_image_offer {
    padding: 0;
    height: 120px;
  }
}
@media screen and (min-width: 601px) {
  .container_image_offer {
    padding: 0;
    height: 120px;
    width: auto;
    height: 200px;
  }
  .img_offer {
    width: auto;
    height: 200px;
  }
}
</style>
