<template>
  <Link :href="`/producto/${slug}`">
    <div class="product_container pb-16 text-coffe">
      <div class="container-image-product">
        <img class="image_product" :src="url" alt="name" />
      </div>
      <hr class="my-2 text-xs w-28 lg:w-40 text-coffe m-auto" />
      <p class="text-center text-sm truncate px-2">{{ name }}</p>
      <p class="text-center text-xs lg:text-lg font-bold">
        <span> {{ finalPrice }}</span>
      </p>
      <p v-if="value_unit" class="text-center text-xs lg:text-md font-bold">
        <span> {{ unit }} a {{ priceUnit }} </span>
      </p>
    </div>
  </Link>
</template>

<script>
import { defineComponent } from "vue";
import { Head, Link } from "@inertiajs/inertia-vue3";

export default defineComponent({
  props: ["url", "name", "price", "unit", "value_unit", "slug"],
  components: {
    Head,
    Link,
  },
  data() {
    return {
      finalPrice: new Intl.NumberFormat("es-CO", {
        style: "currency",
        currency: "COP",
      }).format(this.price),
      priceUnit: new Intl.NumberFormat("es-CO", {
        style: "currency",
        currency: "COP",
      }).format(this.price / this.value_unit),
    };
  },
});
</script>
<style scoped>
@media screen and (max-width: 600px) {
  .product_container {
    height: 200px;
    border: 2px solid #613000;
    border-radius: 1em;
  }
  .container-image-product {
    height: 100px;
  }
  .image_product {
    border-radius: 1em;
    object-fit: cover;
    height: 100px;
  }
}
@media screen and (min-width: 601px) {
  .product_container {
    height: 280px;
    border: 2px solid #613000;
    border-radius: 1em;
  }
  .container-image-product {
    height: 150px;
  }
  .image_product {
    border-radius: 1em;
    object-fit: cover;
    height: 150px;
  }
}
</style>
