<template>
  <div
    class="
      grid
      lg:grid-cols-6
      gap-0
      lg:h-product_cart lg:p-3
      bg-white
      rounded-lg
      lg:mb-4
      text-cafe
    "
  >
    <img class="col-span-1 rounded-lg h-logo mr-0" :src="urlFinal" />
   <div class="col-span-3 container-descr lg:pt-2">
      <div class="grid grid-cols-3">
        <p class="text-2xl col-span-2 font-extrabold">{{ name }}</p>
        <p class="text-xl text-right font-extrabold">{{ finalPrice }}</p>
      </div>
      <p>{{ subTotalPrice }}</p>
      <p>{{ unit }}</p>
    </div>

  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  props: ["id", "url", "name", "price", "unit", "quantity", "stock"],
  components: {},
  data() {
    return {
      subTotalPrice: new Intl.NumberFormat("es-CO", {
        style: "currency",
        currency: "COP",
      }).format(this.price),
      totalQuanqity: this.quantity,
    };
  },
 
  computed: {
    urlFinal() {
      if (this.url == "null") {
        return "https://www.sinrumbofijo.com/wp-content/uploads/2016/05/default-placeholder.png";
      } else {
        return this.url;
      }
    },
    finalPrice() {
      return new Intl.NumberFormat("es-CO", {
        style: "currency",
        currency: "COP",
      }).format(this.price * this.totalQuanqity);
    },
  },
  methods: {
    
  
  },
});
</script>
<style scoped>
@media screen and (max-width: 600px) {
}
@media screen and (min-width: 601px) {
  .container-quan {
    width: 150px;
    margin-left: -10px;
  }
  .container-descr {
    margin-left: -80px;
  }
}
</style>
