<template>
  <div
    v-if="toast && visible"
    class="
      border-2 border-primary
      absolute
      flex
      max-w-xs
      w-full
      mt-4
      mr-4
      bottom-4
      right-0
      bg-white
      rounded-lg
      shadow
      p-3
    "
  >
    <div class="mr-6">
      <svg
        class="w-6 h-6 text-green"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
    </div>
    <div class="flex-1">{{ toast.message }}</div>
  </div>
</template>
<script>
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    toast: Object,
  },
  data() {
    return {
      visible: false,
    };
  },
  watch: {
    toast: {
      deep: true,
      handler() {
        this.visible = true;
        setTimeout(() => (this.visible = false), 1500);
      },
    },
  },
});
</script>

