<template>
  <dashboard-layout>
    <Head title="Productos crear" />
    <div class="grid grid-cols-2">
      <h1 class="text-cafe font-bold text-xl">Nuevo producto</h1>
    </div>
    <div class="grid grid-cols-3 gap-2 px-15 lg:px-0 text-primary">
      <div class="col-span-2 grid grid-cols-2 gap-2">
        <div class="mt-1 col-span-1">
          <button
            @click="dropdownTypeCustomer = !dropdownTypeCustomer"
            id="dropdownButton"
            data-dropdown-toggle="dropdown"
            class="
              font-bold
              h-xl
              py-2
              px-10
              w-full
              mt-3
              text-cafe
              bg-white
              font-bold
              rounded-lg
              text-sm text-center
              inline-flex
              items-center
              text-center
              mr-5
            "
            type="button"
          >
            {{ form.productTypeCustomerName }}
            <span v-if="form.productTypeCustomer == null">Tipo de cliente</span>

            <svg
              class="ml-2 w-4 h-4"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              ></path>
            </svg>
          </button>

          <div
            v-if="dropdownTypeCustomer === true"
            id="dropdown"
            class="
              z-10
              w-dropdown-products
              text-base
              list-none
              bg-white
              rounded-lg
              divide-y divide-gray-100
              shadow
              absolute
              mt-2
              dark:bg-gray-700
            "
          >
            <ul class="py-1" aria-labelledby="dropdownButton">
              <li v-for="(type, index) in TypesCustomers" :key="index">
                <a
                  @click="
                    (form.productTypeCustomer = type.value),
                      (dropdownTypeCustomer = false)(
                        (form.productTypeCustomerName = type.name)
                      )
                  "
                  href="#"
                  class="
                    block
                    py-2
                    px-4
                    text-sm text-gray-700
                    hover:bg-gray-100
                    dark:hover:bg-gray-600
                    dark:text-gray-200
                    dark:hover:text-white
                  "
                  >{{ type.name }}</a
                >
              </li>
            </ul>
          </div>
          <span class="text-danger">{{ form.errors.productTypeCustomer }}</span>
        </div>
        <div class="col-span-1 mt-1">
          <button
            @click="dropdownCategories = !dropdownCategories"
            id="dropdownButton"
            data-dropdown-toggle="dropdown"
            class="
              font-bold
              h-xl
              py-2
              px-10
              w-full
              mt-3
              text-cafe
              bg-white
              font-bold
              rounded-lg
              text-sm text-center
              inline-flex
              items-center
              text-center
              mr-5
            "
            type="button"
          >
            {{ form.category ? nameCategory : " Categoria" }}
            <svg
              class="ml-2 w-4 h-4"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              ></path>
            </svg>
          </button>

          <div
            v-if="dropdownCategories === true"
            id="dropdown"
            class="
              z-10
              w-dropdown-products
              text-base
              list-none
              bg-white
              rounded-lg
              divide-y divide-gray-100
              shadow
              mt-2
              absolute
              dark:bg-gray-700
            "
          >
            <ul
              v-if="Categories.length > 0"
              class="py-1"
              aria-labelledby="dropdownButton"
            >
              <li
                class="
                  w-role
                  py-2
                  px-4
                  text-sm text-gray-700
                  hover:bg-gray-100
                  dark:hover:bg-gray-600
                  dark:text-gray-200
                  dark:hover:text-white
                "
                @click="
                  ((form.category = category.id),
                  (nameCategory = category.name)),
                    (dropdownCategories = false)
                "
                v-for="(category, index) in Categories"
                :key="index"
              >
                {{ category.name }}
              </li>
            </ul>
          </div>
          <span class="text-danger">{{ form.errors.category }}</span>
        </div>
        <div class="col-span-1 mt-1">
          <jet-input
            placeholder="Nombre del producto"
            id="name"
            type="name"
            class="pl-2 mt-1 block w-full"
            v-model="form.name"
            required
            autocomplete="off"
          />
          <span class="text-danger">{{ form.errors.name }}</span>
        </div>
        <div class="col-span-1 mt-1">
          <jet-input
            disabled
            placeholder="Slug"
            id="slug"
            type="slug"
            class="pl-2 mt-1 block w-full"
            v-model="slug"
            required
            autocomplete="off"
          />
        </div>
        <div class="col-span-1 mt-1">
          <jet-input
            placeholder="Origen"
            id="origin"
            type="origin"
            class="mt-1 block w-full pl-2"
            v-model="form.origin"
            required
            autocomplete="off"
          />
        </div>
        <div class="col-span-1 mt-1">
          <jet-input
            placeholder="Descripción"
            id="description"
            type="description"
            class="mt-1 block w-full pl-2"
            v-model="form.description"
            requiredz
            autocomplete="off"
          />
          <span class="text-danger">{{ form.errors.description }}</span>
        </div>
      </div>
      <div
        class="col-span-1 row-span-auto border-2 border-cafe mt-4 rounded-lg"
      >
        <label
          for="bannerMovil"
          class="
            flex flex-col
            items-center
            justify-center
            w-full
            h-64
            rounded-lg
            cursor-pointer
          "
        >
          <div
            v-if="form.picture == null"
            class="flex flex-col items-center justify-center pt-5 pb-6"
          >
            <svg
              class="bg-coffe rounded rounded-full h-nav w-nav p-4 text-white"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"
              ></path>
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
              <span class="font-semibold">Subir imagen</span>
            </p>
            <p class="text-xs text-gray-500 dark:text-gray-400">MAX. 200kb</p>
            <p class="text-xs text-gray-500 dark:text-gray-400">
              Alto 300px - Ancho 600px
            </p>
          </div>
          <img
            v-show="showpreview == true"
            id="preview"
            class="mt-6 h-product_cart w-auto"
          />
          <input
            id="bannerMovil"
            type="file"
            class="hidden"
            accept=".jpg,.png,.jpeg"
            @change="showPreview($event)"
            @input="form.picture = $event.target.files[0]"
          />
        </label>
      </div>
      <div class="col-span-4 grid grid-cols-4 gap-0">
        <div class="col-span-1 bg-green text-white">
          <h2 class="mt-3 mr-4 ml-4">Detalles del producto</h2>
        </div>
        <div class="col-span-3 bg-green grid grid-cols-3">
          <div class="col-span-1 w-select mt-4 mr-4 ml-4 mb-0 pb-1">
            <button
              @click="dropdownTypeProduct = !dropdownTypeProduct"
              id="dropdownButton"
              data-dropdown-toggle="dropdown"
              class="
                font-bold
                h-xl
                py-2
                px-10
                w-full
                -mt-2
                text-cafe
                bg-white
                font-bold
                rounded-lg
                text-sm text-center
                inline-flex
                items-center
                text-center
                mr-5
              "
              type="button"
            >
              {{ form.typeProductName }}
              <span v-if="form.typeProduct == null">Tipo producto</span>
              <svg
                class="ml-2 w-4 h-4"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"
                ></path>
              </svg>
            </button>

            <div
              v-if="dropdownTypeProduct === true"
              id="dropdown"
              class="
                z-10
                w-type-product
                text-base
                list-none
                bg-white
                rounded-lg
                divide-y divide-gray-100
                shadow
                absolute
                mt-1
                dark:bg-gray-700
              "
            >
              <ul class="py-1" aria-labelledby="dropdownButton">
                <li v-for="(type, index) in typeProduct" :key="index">
                  <a
                    @click="
                      (form.typeProduct = type.value),
                        (form.typeProductName = type.name),
                        (dropdownTypeProduct = false)
                    "
                    href="#"
                    class="
                      block
                      py-2
                      px-4
                      text-cafe text-sm
                      hover:bg-gray-100
                      dark:hover:bg-gray-600
                      dark:text-gray-200
                      dark:hover:text-white
                    "
                    >{{ type.name }}</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <span class="text-danger mt-4"> {{ form.errors.typeProduct }}</span>
        </div>

        <div class="col-span-1 bg-product">
          <a
            v-if="form.typeProduct == 'simple'"
            @click="
              (showInventory = !showInventory),
                (showGeneral = !showGeneral),
                (showAttributes = !showAttributes)
            "
            class="flex items-center py-1 px-2 mb-2 text-cafe"
            href="#"
          >
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              ></path>
            </svg>

            <span class="mx-3">General</span>
          </a>

          <span
            v-if="form.typeProduct == 'simple'"
            @click="
              (showInventory = !showInventory),
                (showGeneral = !showGeneral),
                (showAttributes = !showAttributes)
            "
            class="flex items-center py-1 px-2 mb-2 text-cafe cursor-pointer"
          >
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
              ></path>
            </svg>

            <span class="mx-3">Inventario</span>
          </span>

          <span class="flex items-center py-1 px-2 mb-2 text-cafe">
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
              ></path>
            </svg>

            <span class="mx-3">Envios</span>
          </span>

          <a class="flex items-center py-1 px-2 mb-2 text-cafe" href="#">
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
              ></path>
            </svg>

            <span class="mx-3">Atributos</span>
          </a>

          <a class="flex items-center py-1 px-2 mb-2 text-cafe" href="#">
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
              ></path>
            </svg>

            <span class="mx-3">Características</span>
          </a>

          <a class="flex items-center py-1 px-2 mb-2 text-cafe" href="#">
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7"
              ></path>
            </svg>

            <span class="mx-3">Despacho</span>
          </a>

          <a class="flex items-center py-1 px-2 mb-2 text-cafe" href="#">
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
              ></path>
            </svg>

            <span class="mx-3">Zonas de entregas</span>
          </a>
          <!-- <a class="flex items-center py-1 px-2 mb-2 text-cafe" href="#">
            <jet-button
              @click="submit()"
              class="bg-primary w-full text-xl btn-auth text-white"
              :class="{ 'opacity-25': form.processing }"
              :disabled="form.processing"
            >
              Guardar
            </jet-button>
          </a> -->
        </div>
        <div class="col-span-3 row-span-auto px-5 py-4">
          <div
            v-if="form.typeProduct === 'simple' && showGeneral === true"
            class="grid grid-cols-12"
          >
            <div class="col-span-2 pt-4 mb-2">
              <span class="text-cafe font-bold">Precio</span>
            </div>
            <div class="mb-2 col-span-10">
              <jet-input
                id="price"
                type="number"
                class="pl-2"
                v-model="form.priceSimple"
                required
                autocomplete="off"
              />
              <span class="text-danger">{{ form.errors.priceSimple }}</span>
            </div>
            <div class="col-span-2 pt-4 mb-2">
              <span class="text-cafe font-bold">Precio descuento</span>
            </div>
            <div class="mb-2 col-span-9">
              <jet-input
                id="priceSimpleDiscount"
                type="number"
                class="pl-2"
                v-model="form.priceSimpleDiscount"
                required
                autocomplete="off"
              />
            </div>
            <div
              class="
                mt-3
                p-auto
                bg-green
                w-10
                h-clock
                font-bold
                rounded-lg
                cursor-pointer
                text-center text-white
                col-span-1
                -ml-72
              "
            >
              <svg
                @click="activeDateDiscount"
                class="w-6 h-6 mt-2 ml-2"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
            </div>
            <div class="col-span-2 pt-4 mb-2" v-if="activeDiscount">
              <span class="text-cafe font-bold">Fecha precio en descuento</span>
            </div>
            <div class="mb-2 col-span-10" v-if="activeDiscount">
              <jet-input
                id="dateDiscountStart"
                type="date"
                class="pl-2 date-input"
                v-model="form.dateDiscountStart"
                required
                autocomplete="off"
              />
              <br />
              <jet-input
                id="dateDiscountEnd"
                type="date"
                class="pl-2 date-input"
                v-model="form.dateDiscountEnd"
                required
                autocomplete="off"
              />
            </div>
            <div class="col-span-2 pt-4 mb-2">
              <span class="text-cafe font-bold">Nombre unidad</span>
            </div>
            <div class="mb-2 col-span-10">
              <jet-input
                id="price"
                type="text"
                class="pl-2"
                v-model="form.unitName"
                required
                autocomplete="off"
              />
              <span class="text-danger">{{ form.errors.unitName }}</span>
            </div>
            <div class="col-span-2 pt-4 mb-2">
              <span class="text-cafe font-bold">Número de unidades</span>
            </div>
            <div class="mb-2 col-span-10">
              <jet-input
                id="price"
                type="text"
                class="pl-2"
                v-model="form.valueUnit"
                required
                autocomplete="off"
              />
              <span class="text-danger">{{ form.errors.valueUnit }}</span>
            </div>
          </div>
          <div
            v-if="form.typeProduct === 'simple' && showInventory === true"
            class="grid grid-cols-12"
          >
            <div class="col-span-2 pt-4 mb-2">
              <span class="text-cafe font-bold">SKU</span>
            </div>
            <div class="mb-2 col-span-10">
              <jet-input
                id="price"
                type="number"
                class="pl-2"
                v-model="form.sku"
                required
                autocomplete="off"
              />
              <span class="text-danger">{{ form.errors.sku }}</span>
            </div>
            <div class="col-span-2 pt-4 mb-2">
              <span class="text-cafe font-bold">Estado</span>
            </div>
            <div class="mb-2 col-span-10">
              <div class="w-72">
                <button
                  @click="dropdownStatus = !dropdownStatus"
                  id="dropdownButton"
                  data-dropdown-toggle="dropdown"
                  class="
                    font-bold
                    h-xl
                    py-2
                    px-10
                    w-full
                    mt-3
                    text-cafe
                    bg-white
                    font-bold
                    rounded-lg
                    text-sm text-center
                    inline-flex
                    items-center
                    text-center
                    mr-5
                  "
                  type="button"
                >
                  {{ form.statusInventoryName }}
                  <span v-if="form.statusInventory == null"
                    >Estado inventario</span
                  >

                  <svg
                    class="ml-2 w-4 h-4"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 9l-7 7-7-7"
                    ></path>
                  </svg>
                </button>

                <div
                  v-if="dropdownStatus === true"
                  id="dropdown"
                  class="
                    z-10
                    text-base
                    list-none
                    bg-white
                    rounded-lg
                    divide-y divide-gray-100
                    shadow
                    absolute
                    mt-2
                    dark:bg-gray-700
                  "
                >
                  <ul class="py-1" aria-labelledby="dropdownButton">
                    <li v-for="(status, index) in status" :key="index">
                      <a
                        @click="
                          (form.statusInventory = status.value),
                            (dropdownStatus = false)(
                              (form.statusInventoryName = status.name)
                            )
                        "
                        href="#"
                        class="
                          block
                          py-2
                          px-4
                          text-sm text-gray-700
                          hover:bg-gray-100
                          dark:hover:bg-gray-600
                          dark:text-gray-200
                          dark:hover:text-white
                        "
                        >{{ status.name }}</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-span-2 pt-4 mb-2">
              <span class="text-cafe font-bold">stock</span>
            </div>
            <div class="mb-2 col-span-10">
              <jet-input
                id="price"
                type="number"
                class="pl-2"
                v-model="form.stock"
                required
                autocomplete="off"
              />
              <span class="text-danger">{{ form.errors.stock }}</span>
            </div>
          </div>
          <div
            v-if="form.typeProduct === 'variable' && showAttributes === true"
            class="grid grid-cols-12"
          >
            <div class="mb-2 col-span-12">
              <div class="w-72">
                <button
                  @click="dropdownAttributes = !dropdownAttributes"
                  id="dropdownButton"
                  data-dropdown-toggle="dropdown"
                  class="
                    font-bold
                    h-xl
                    py-2
                    px-10
                    w-full
                    mt-3
                    text-cafe
                    bg-white
                    font-bold
                    rounded-lg
                    text-sm text-center
                    inline-flex
                    items-center
                    text-center
                    mr-5
                  "
                  type="button"
                >
                  {{ form.attributeName }}
                  <span v-if="form.attribute == null"
                    >Seleccionar atributos</span
                  >

                  <svg
                    class="ml-2 w-4 h-4"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 9l-7 7-7-7"
                    ></path>
                  </svg>
                </button>

                <div
                  v-if="dropdownAttributes === true"
                  id="dropdown"
                  class="
                    z-10
                    text-base
                    list-none
                    bg-white
                    rounded-lg
                    divide-y divide-gray-100
                    shadow
                    absolute
                    mt-2
                    dark:bg-gray-700
                  "
                >
                  <ul class="py-1" aria-labelledby="dropdownButton">
                    <li v-for="(attribute, index) in Attributes" :key="index">
                      <span
                        @click="
                          (dropdownAttributes = false),
                            (form.attribute = attribute.id),
                            (form.attributeName = attribute.name),
                            loadTerms()
                        "
                        class="
                          block
                          py-2
                          px-24
                          w-36
                          text-sm text-gray-700
                          hover:bg-gray-100
                          dark:hover:bg-gray-600
                          dark:text-gray-200
                          dark:hover:text-white
                        "
                        >{{ attribute.name }}</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mb-2 col-span-12">
              <div class="w-72">
                <button
                  @click="dropdownTerms = !dropdownTerms"
                  id="dropdownButton"
                  data-dropdown-toggle="dropdown"
                  class="
                    font-bold
                    h-xl
                    py-2
                    px-10
                    w-full
                    mt-3
                    text-cafe
                    bg-white
                    font-bold
                    rounded-lg
                    text-sm text-center
                    inline-flex
                    items-center
                    text-center
                    mr-5
                  "
                  type="button"
                >
                  <span>Seleccionar terminos</span>
                  <svg
                    class="ml-2 w-4 h-4"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 9l-7 7-7-7"
                    ></path>
                  </svg>
                </button>
                <div
                  v-if="dropdownTerms === true && form.terms.length > 0"
                  id="dropdown"
                  class="
                    z-10
                    text-base
                    list-none
                    bg-white
                    rounded-lg
                    divide-y divide-gray-100
                    shadow
                    absolute
                    mt-2
                    dark:bg-gray-700
                  "
                >
                  <ul class="py-1" aria-labelledby="dropdownButton">
                    <li v-for="(term, index) in form.terms" :key="index">
                      <span
                        @click="
                          (dropdownTerms = false),
                            (form.terms[index].show = !form.terms[index].show)
                        "
                        class="
                          block
                          py-2
                          px-24
                          w-36
                          text-sm text-gray-700
                          hover:bg-gray-100
                          dark:hover:bg-gray-600
                          dark:text-gray-200
                          dark:hover:text-white
                        "
                        >{{ term.name }}</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-span-12 grid grid-cols-12 gap-2 mb-2" v-if="form.terms">
              <button
                @click="selectAll()"
                class="col-span-3 border-2 border-primary p-2 rounded-lg"
              >
                Selecionar todos
              </button>
              <button
                @click="removeAll()"
                class="col-span-2 border-2 border-danger p-2 rounded-lg"
              >
                Borrar todos
              </button>
            </div>
            <div
              class="col-span-12"
              v-for="(term, index) in form.terms"
              :key="index"
            >
              <article class="mb-4" v-if="term.show">
                <!-- header -->
                <div
                  class="
                    grid grid-cols-2
                    bg-green
                    h-xl
                    rounded-tl-lg rounded-tr-lg
                    gap-4
                  "
                >
                  <div class="mt-4">
                    <p class="text-white ml-4">{{ term.name }}</p>
                  </div>
                  <div class="justify-self-start"></div>
                </div>
                <!--end header -->
                <!-- body -->
                <div
                  class="
                    grid grid-cols-3
                    rounded-bl-lg rounded-br-lg
                    border-2 border-primary
                    gap-1
                    p-2
                  "
                >
                  <div class="col-span-1 row-span-4">
                    <div
                      class="
                        col-span-1
                        row-span-auto
                        border-2 border-cafe
                        mt-4
                        rounded-lg
                      "
                    >
                      <label
                        :for="form.terms[index]['id']"
                        class="
                          flex flex-col
                          items-center
                          justify-center
                          w-full
                          h-64
                          rounded-lg
                          cursor-pointer
                        "
                      >
                        <div
                          class="
                            flex flex-col
                            items-center
                            justify-center
                            pt-5
                            pb-6
                          "
                        >
                          <svg
                            class="
                              bg-coffe
                              rounded rounded-full
                              h-nav
                              w-nav
                              p-4
                              text-white
                            "
                            fill="none"
                            stroke="currentColor"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"
                            ></path>
                          </svg>
                          <p
                            class="
                              mb-2
                              text-sm text-gray-500
                              dark:text-gray-400
                            "
                          >
                            <span class="font-semibold">Subir imagen V</span>
                          </p>
                          <p class="text-xs text-gray-500 dark:text-gray-400">
                            MAX. 200kb
                          </p>
                          <p class="text-xs text-gray-500 dark:text-gray-400">
                            Alto 300px - Ancho 600px
                          </p>
                        </div>
                        <input
                          :id="form.terms[index]['id']"
                          type="file"
                          class="hidden"
                          accept=".jpg,.png"
                          @input="
                            form.terms[index]['image'] = $event.target.files[0]
                          "
                        />
                      </label>
                    </div>
                  </div>
                  <div class="col-span-2">
                    <jet-input
                      id="price"
                      type="number"
                      class="pl-2 mt-2"
                      v-model="form.terms[index]['price']"
                      required
                      placeholder="Precio normal"
                      autocomplete="off"
                    />
                  </div>
                  <div class="col-span-2">
                    <jet-input
                      id="price"
                      type="number"
                      class="pl-2 mt-2"
                      required
                      placeholder="Precio descuento"
                      autocomplete="off"
                    />
                  </div>
                  <div class="col-span-2">
                    <jet-input
                      id="sku"
                      type="text"
                      class="pl-2 mt-2"
                      v-model="form.terms[index]['sku']"
                      required
                      placeholder="SKU"
                      autocomplete="off"
                    />
                  </div>
                  <div class="col-span-2">
                    <jet-input
                      id="price"
                      type="number"
                      class="pl-2 mt-2"
                      v-model="form.terms[index]['few_units']"
                      required
                      placeholder="Umbral de pocas existencias"
                      autocomplete="off"
                    />
                  </div>
                  <div class="col-span-2">
                    <jet-input
                      id="price"
                      type="number"
                      class="pl-2 mt-2"
                      v-model="form.priceSimple"
                      required
                      placeholder="Precio normal"
                      autocomplete="off"
                    />
                  </div>
                </div>
                <!-- endbody -->
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <jet-button
        @click="submit()"
        class="bg-primary w-full text-xl btn-auth text-white"
        :class="{ 'opacity-25': form.processing }"
        :disabled="form.processing"
      >
        Guardar
      </jet-button>
    </div>
  </dashboard-layout>
</template>
<script>
import { defineComponent } from "vue";
import JetButton from "@/Jetstream/Button.vue";
import { Head, Link } from "@inertiajs/inertia-vue3";
import { Inertia } from "@inertiajs/inertia";
import DashboardLayout from "@/Layouts/DashboardLayout.vue";
import JetInput from "@/Jetstream/Input.vue";

export default defineComponent({
  components: {
    Head,
    Link,
    JetButton,
    Inertia,
    DashboardLayout,
    JetInput,
  },

  props: {
    Categories: Object,
    Attributes: Object,
  },
  data() {
    return {
      showpreview: false,
      TypesCustomers: [
        {
          value: "minorista",
          name: "Cliente al detal",
        },
        {
          value: "mayorista",
          name: "Producto al mayoreo",
        },
      ],
      typeProduct: [
        {
          value: "simple",
          name: "Producto simple",
        },
        {
          value: "variable",
          name: "Producto variable",
        },
      ],
      status: [
        {
          value: "existencia",
          name: "Hay existencia",
        },
        {
          value: "sin existencia",
          name: "Agotado",
        },
        {
          value: "reservar",
          name: "Se puede reservar",
        },
      ],
      form: this.$inertia.form({
        productTypeCustomer: null,
        category: null,
        name: "",
        unitName: "",
        valueUnit: "",
        origin: "",
        sku: "",
        stock: 0,
        typeProduct: "simple",
        typeProductName: "Producto simple",
        description: "",
        picture: null,
        priceSimple: null,
        priceSimpleDiscount: null,
        dateDiscountStart: null,
        dateDiscountEnd: null,
        statusInventory: null,
        statusInventoryName: null,
        attribute: null,
        terms: null,
      }),
      dropdownTypeCustomer: false,
      dropdownTypeProduct: false,
      dropdownCategories: false,
      dropdownStatus: false,
      dropdownAttributes: false,
      dropdownTerms: false,
      nameCategory: "",
      activeDiscount: false,
      showGeneral: true,
      showInventory: false,
      showAttributes: false,
    };
  },
  computed: {
    slug() {
      return this.form.name.toLowerCase().replace(/ /gi, "-");
    },
  },
  methods: {
    selectAll() {
      this.form.terms.map((x) => {
        x.show = true;
      });
    },
    removeAll() {
      this.form.terms.map((x) => {
        x.show = false;
      });
    },
    loadTerms() {
      if (this.form.attribute) {
        let terms = this.Attributes.filter(
          (attribute) => attribute.id === this.form.attribute
        );
        this.form.terms = terms[0].terms;
      }
    },
    addAttribute(id) {
      if (this.form.attributes.length > 0) {
        let find = this.form.attributes.find((element) => {
          return element.id == id;
        });
        if (!find) {
          let attribute = this.Attributes.find((element) => {
            return element.id == id;
          });
          this.form.attributes.push(attribute);
        }
      } else {
        let attribute = this.Attributes.find((element) => {
          return element.id == id;
        });
        this.form.attributes.push(attribute);
      }
    },
    generateTerms() {
      if (this.form.attribute) {
        let terms = this.Attributes.filter(
          (attribute) => attribute.id === this.form.attribute
        );
        this.form.terms = terms[0].terms;
      }
    },
    submit() {
      this.form.post(this.route("admin.product.store"));
    },
    activeDateDiscount() {
      this.activeDiscount = !this.activeDiscount;
    },
    showPreview(event) {
      if (event.target.files.length > 0) {
        var src = URL.createObjectURL(event.target.files[0]);
        var preview = document.getElementById("preview");
        preview.src = src;
        preview.style.display = "block";
        this.showpreview = true;
      }
    },
  },
  watch: {
    form: {
      handler(newValue, oldValue) {
        if (newValue.typeProduct == "variable") {
          (this.showInventory = false),
            (this.showInventory = false),
            (this.showAttributes = true);
        }
      },
      deep: true,
    },
  },
});
</script>
<style scoped>
.date-input {
  width: 17rem;
}
</style>
