<template>
  <dashboard-layout>
    <Head title="Productos" />
    <div class="grid grid-cols-3">
      <div>
        <Link :href="route('admin.product.create')">
          <jet-button class="bg-green text-white text-xl mt-0 py-1.5 px-14">
            + Nuevo producto
          </jet-button>
        </Link>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-0 mt-4">
      <div>
        <Link :href="route('admin.profile.create')">
          <jet-button class="bg-coffe text-white mt-0 py-1.5 px-14">
            Importar productos
          </jet-button>
        </Link>
      </div>
      <div>
        <Link :href="route('admin.profile.create')">
          <jet-button class="bg-coffe text-white mt-0 py-1.5 px-14">
            Exportar productos
          </jet-button>
        </Link>
      </div>
    </div>
    <div class="grid grid-cols-4 gap-1 mt-4">
      <div>
        <button
          id="dropdownDefault"
          data-dropdown-toggle="dropdown"
          class="
            text-cafe
            bg-white
            font-medium
            rounded-lg
            text-xl
            px-14
            py-1.5
            text-center
            inline-flex
            items-center
            border-2 border-tertiary
            dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
          "
          type="button"
        >
          Minorista
          <svg
            class="w-4 h-4 ml-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            ></path>
          </svg>
        </button>

        <div
          id="dropdown"
          class="
            z-10
            hidden
            bg-white
            divide-y divide-gray-100
            rounded
            shadow
            w-44
            dark:bg-gray-700
          "
          style="
            position: absolute;
            inset: auto auto 0px 0px;
            margin: 0px;
            transform: translate(354px, 28px);
          "
          data-popper-reference-hidden=""
          data-popper-escaped=""
          data-popper-placement="top"
        >
          <ul
            class="py-1 text-sm text-gray-700 dark:text-gray-200"
            aria-labelledby="dropdownDefault"
          >
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Dashboard</a
              >
            </li>
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Settings</a
              >
            </li>
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Earnings</a
              >
            </li>
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Sign out</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div>
        <button
          id="dropdownDefault"
          data-dropdown-toggle="dropdown"
          class="
            text-cafe
            bg-white
            font-medium
            rounded-lg
            text-xl
            px-14
            py-1.5
            text-center
            inline-flex
            items-center
            border-2 border-tertiary
            dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
          "
          type="button"
        >
          Categorias
          <svg
            class="w-4 h-4 ml-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            ></path>
          </svg>
        </button>

        <div
          id="dropdown"
          class="
            z-10
            hidden
            bg-white
            divide-y divide-gray-100
            rounded
            shadow
            w-44
            dark:bg-gray-700
          "
          style="
            position: absolute;
            inset: auto auto 0px 0px;
            margin: 0px;
            transform: translate(354px, 28px);
          "
          data-popper-reference-hidden=""
          data-popper-escaped=""
          data-popper-placement="top"
        >
          <ul
            class="py-1 text-sm text-gray-700 dark:text-gray-200"
            aria-labelledby="dropdownDefault"
          >
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Dashboard</a
              >
            </li>
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Settings</a
              >
            </li>
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Earnings</a
              >
            </li>
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Sign out</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div>
        <button
          id="dropdownDefault"
          data-dropdown-toggle="dropdown"
          class="
            text-cafe
            bg-white
            font-medium
            rounded-lg
            text-sm
            px-14
            py-2
            text-center
            inline-flex
            items-center
            border-2 border-tertiary
            dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
          "
          type="button"
        >
          Tipo producto
          <svg
            class="w-4 h-4 ml-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            ></path>
          </svg>
        </button>

        <div
          id="dropdown"
          class="
            z-10
            hidden
            bg-white
            divide-y divide-gray-100
            rounded
            shadow
            w-44
            dark:bg-gray-700
          "
          style="
            position: absolute;
            inset: auto auto 0px 0px;
            margin: 0px;
            transform: translate(354px, 28px);
          "
          data-popper-reference-hidden=""
          data-popper-escaped=""
          data-popper-placement="top"
        >
          <ul
            class="py-1 text-sm text-gray-700 dark:text-gray-200"
            aria-labelledby="dropdownDefault"
          >
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Dashboard</a
              >
            </li>
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Settings</a
              >
            </li>
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Earnings</a
              >
            </li>
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Sign out</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div>
        <button
          id="dropdownDefault"
          data-dropdown-toggle="dropdown"
          class="
            text-cafe
            bg-white
            font-medium
            rounded-lg
            text-xl
            px-14
            py-1.5
            text-center
            inline-flex
            items-center
            border-2 border-tertiary
            dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
          "
          type="button"
        >
          Stock
          <svg
            class="w-4 h-4 ml-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            ></path>
          </svg>
        </button>

        <div
          id="dropdown"
          class="
            z-10
            hidden
            bg-white
            divide-y divide-gray-100
            rounded
            shadow
            w-44
            dark:bg-gray-700
          "
          style="
            position: absolute;
            inset: auto auto 0px 0px;
            margin: 0px;
            transform: translate(354px, 28px);
          "
          data-popper-reference-hidden=""
          data-popper-escaped=""
          data-popper-placement="top"
        >
          <ul
            class="py-1 text-sm text-gray-700 dark:text-gray-200"
            aria-labelledby="dropdownDefault"
          >
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Dashboard</a
              >
            </li>
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Settings</a
              >
            </li>
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Earnings</a
              >
            </li>
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Sign out</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div>
        <button
          id="dropdownDefault"
          data-dropdown-toggle="dropdown"
          class="
            text-cafe
            bg-white
            font-medium
            rounded-lg
            text-xl
            px-14
            py-1.5
            text-center
            inline-flex
            items-center
            border-2 border-tertiary
            dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
          "
          type="button"
        >
          Acciones
          <svg
            class="w-4 h-4 ml-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            ></path>
          </svg>
        </button>

        <div
          id="dropdown"
          class="
            z-10
            hidden
            bg-white
            divide-y divide-gray-100
            rounded
            shadow
            w-44
            dark:bg-gray-700
          "
          style="
            position: absolute;
            inset: auto auto 0px 0px;
            margin: 0px;
            transform: translate(354px, 28px);
          "
          data-popper-reference-hidden=""
          data-popper-escaped=""
          data-popper-placement="top"
        >
          <ul
            class="py-1 text-sm text-gray-700 dark:text-gray-200"
            aria-labelledby="dropdownDefault"
          >
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Dashboard</a
              >
            </li>
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Settings</a
              >
            </li>
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Earnings</a
              >
            </li>
            <li>
              <a
                href="#"
                class="
                  block
                  px-4
                  py-2
                  hover:bg-gray-100
                  dark:hover:bg-gray-600 dark:hover:text-white
                "
                >Sign out</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 mt-4">
      <div class="relative overflow-x-auto shadow-md bg-green sm:rounded-lg">
        <div class="p-4">
          <label for="table-search" class="sr-only">Buscar</label>
          <div class="relative mt-1">
            <div
              class="
                absolute
                inset-y-0
                left-0
                flex
                items-center
                pl-3
                pointer-events-none
              "
            >
              <svg
                class="w-5 h-5 text-gray-500 dark:text-gray-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </div>
            <input
              type="text"
              id="table-search"
              class="
                bg-gray-50
                border border-gray-300
                text-gray-900 text-sm
                rounded-lg
                focus:ring-blue-500 focus:border-blue-500
                block
                w-80
                pl-10
                p-2.5
                dark:bg-gray-700
                dark:border-gray-600
                dark:placeholder-gray-400
                dark:text-white
                dark:focus:ring-blue-500
                dark:focus:border-blue-500
              "
              placeholder="Busqueda productos..."
            />
          </div>
        </div>
        <table
          class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
        >
          <thead
            class="
              text-xs text-gray-700
              uppercase
              bg-gray-50
              dark:bg-gray-700 dark:text-gray-400
            "
          >
            <tr>
              <th scope="col" class="p-4">
                <div class="flex items-center">
                  <input
                    id="checkbox-all-search"
                    type="checkbox"
                    class="
                      w-4
                      h-4
                      text-blue-600
                      bg-gray-100
                      border-gray-300
                      rounded rounded-full
                      focus:ring-blue-500
                      dark:focus:ring-blue-600 dark:ring-offset-gray-800
                      focus:ring-2
                      dark:bg-gray-700 dark:border-gray-600
                    "
                  />
                  <label for="checkbox-all-search" class="sr-only"
                    >checkbox</label
                  >
                </div>
              </th>
              <th scope="col" class="px-6 py-3">Img</th>
              <th scope="col" class="px-6 py-3">Nombre</th>
              <th scope="col" class="px-6 py-3">Sku</th>
              <th scope="col" class="px-6 py-3">Stock</th>
              <th scope="col" class="px-6 py-3">Precio</th>
              <th scope="col" class="px-6 py-3">Categoria</th>
              <th scope="col" class="px-6 py-3"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(product, index) in Products"
              :key="index"
              class="
                bg-white
                border-b
                dark:bg-gray-800 dark:border-gray-700
                hover:bg-gray-50
                dark:hover:bg-gray-600
              "
            >
              <td class="w-4 p-4">
                <div class="flex items-center">
                  <input
                    id="checkbox-table-search-1"
                    type="checkbox"
                    class="
                      w-4
                      h-4
                      text-blue-600
                      bg-gray-100
                      border-gray-300
                      rounded rounded-full
                      focus:ring-tertiary
                      dark:focus:ring-blue-600 dark:ring-offset-gray-800
                      focus:ring-2
                      dark:bg-gray-700 dark:border-gray-600
                    "
                  />
                  <label for="checkbox-table-search-1" class="sr-only"
                    >checkbox</label
                  >
                </div>
              </td>
              <td class="px-6 py-4">
                <img
                  class="w-10 rounded-sm"
                  style="max-width=20px;"
                  :src="
                    product.pictures[0]
                      ? product.pictures[0].url
                      : 'https://www.sinrumbofijo.com/wp-content/uploads/2016/05/default-placeholder.png'
                  "
                  alt="imagen producto"
                />
              </td>
              <th
                scope="row"
                class="
                  px-6
                  py-4
                  font-medium
                  text-gray-900
                  dark:text-white
                  whitespace-nowrap
                "
              >
                {{ product.name }}
              </th>

              <td class="px-6 py-4">
                {{
                  product.product_type == "simple"
                    ? product.sku
                    : product.values[0].sku
                }}
              </td>
              <td class="px-6 py-4">
                {{
                  product.product_type == "simple"
                    ? product.meta.stock
                    : product.values[0].stock
                }}
              </td>

              <td class="px-6 py-4">
                {{
                  product.product_type == "simple"
                    ? new Intl.NumberFormat("es-CO", {
                        style: "currency",
                        currency: "COP",
                      }).format(product.meta.price)
                    : new Intl.NumberFormat("es-CO", {
                        style: "currency",
                        currency: "COP",
                      }).format(product.values[0].price)
                }}
              </td>

              <td v-if="product.category != null" class="px-6 py-4">
                {{ product.category.name }}
              </td>
              <td v-else class="px-6 py-4">Sin categoria</td>
              <td class="px-6 py-4 w-24 text-right grid grid-cols-3 gap-6">
                <svg
                  @click="redirectProduct(product.slug)"
                  class="w-6 h-6 text-cafe cursor-pointer"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                  ></path>
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                  ></path>
                </svg>
                <Link :href="`/dashboard-productos-editar/${product.id}/editar`">
                  <svg
                    class="w-6 h-6 text-green cursor-pointer"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
                    ></path>
                  </svg>
                </Link>

                <svg
                  @click="(productDestroy = product.id), (modalDestroy = true)"
                  class="w-6 h-6 text-danger cursor-pointer"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                  ></path>
                </svg>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div
      v-if="modalDestroy == true && productDestroy != null"
      id="popup-modal"
      tabindex="-1"
      class="
        overflow-y-auto overflow-x-hidden
        fixed
        top-0
        right-0
        left-0
        z-50
        md:inset-0
        h-modal
        md:h-full
        justify-center
        items-center
        flex
      "
      aria-modal="true"
      role="dialog"
    >
      <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <div class="relative bg-background rounded-lg shadow dark:bg-gray-700">
          <button
            type="button"
            class="
              absolute
              top-3
              right-2.5
              text-gray-400
              bg-transparent
              hover:bg-gray-200 hover:text-gray-900
              rounded-lg
              text-sm
              p-1.5
              ml-auto
              inline-flex
              items-center
              dark:hover:bg-gray-800 dark:hover:text-white
            "
            data-modal-toggle="popup-modal"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
          <div class="p-6 text-center">
            <h3
              class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400"
            >
              ¿Está seguro que deseas eliminar este producto?
            </h3>
            <button
              @click="destroy()"
              data-modal-toggle="popup-modal"
              type="button"
              class="
                text-cafe
                bg-white
                focus:ring-4 focus:outline-none focus:ring-red-300
                dark:focus:ring-red-800
                font-medium
                rounded-lg
                text-sm
                inline-flex
                items-center
                px-10
                py-2.5
                text-center
                mr-2
              "
            >
              Si
            </button>
            <button
              @click="(modaDestroy = false), (productDestroy = null)"
              data-modal-toggle="popup-modal"
              type="button"
              class="
                text-white
                bg-secundary
                focus:ring-4 focus:outline-none focus:ring-gray-200
                rounded-lg
                border border-secundary
                text-sm
                font-medium
                px-5
                py-2.5
                hover:text-gray-900
                focus:z-10
                dark:bg-gray-700
                dark:text-gray-300
                dark:border-gray-500
                dark:hover:text-white
                dark:hover:bg-gray-600
                dark:focus:ring-gray-600
              "
            >
              No, cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </dashboard-layout>
</template>
<script>
import { defineComponent } from "vue";
import JetButton from "@/Jetstream/Button.vue";
import { Head, Link } from "@inertiajs/inertia-vue3";
import { Inertia } from "@inertiajs/inertia";
import DashboardLayout from "@/Layouts/DashboardLayout.vue";

export default defineComponent({
  components: {
    Head,
    Link,
    JetButton,
    Inertia,
    DashboardLayout,
  },

  props: {
    Products: Object,
  },
  data() {
    return {
      modalDestroy: false,
      productDestroy: null,
    };
  },
  mounted() {},
  computed: {},
  methods: {
    editProduct(id) {},
    redirectProduct(slug) {
      window.open("producto/" + slug, "_blank");
    },
    destroy() {
      if (this.productDestroy) {
        this.$inertia.delete(
          `/dashboard-productos-delete/${this.productDestroy}`,
          {
            onSuccess: (page) => {
              (this.modalDestroy = false), (this.productDestroy = null);
            },
          }
        );
      }
    },
  },
});
</script>
