<template>
  <app-layout>
    <Head title="Carrito" />
    <div class="grid grid-cols-1 lg:px-24 pt-28">
      <div class="col-span-1 px-2 text-primary text-md mb-4 lg:hidden">
        <i class="fas fa-chevron-left"></i>
        <Link :href="route('home')"> Seguir comprando </Link>
      </div>
      <div class="col-span-1">
        <p class="text-xl text-primary lg:mb-4">
          Inicio<span>/</span>Carrito<span></span>
        </p>
      </div>
      <div class="col-span-1">
        <h1 class="font-bold lg:text-3xl text-cafe mb-2">Carrito</h1>
      </div>
      <div v-if="Cart.length != 0">
        <div class="col-span-1 text-center text-primary text-sm">
          <p class="mb-2">
            Aún te faltan $10.000 para poder procesar tu pedido
          </p>
          <div class="shadow rounded-lg h-progres_bar w-full bg-orange mb-5">
            <div
              :style="{ width: progress + '%' }"
              class="
                -ml-1
                rounded-lg
                h-progres_bar
                bg-yellow
                text-xs
                leading-none
                py-1
                text-center text-white
              "
            >
              <span class="mt-5 font-bold text-lg">{{ progress }}%</span>
            </div>
          </div>
        </div>
        <div
          class="
            col-span-1
            grid
            lg:grid-cols-7
            shadow
            rounded-lg
            h-progres_bar
            w-full
            bg-orange
            mb-5
            lg:p-2
            text-white
            font-bold
          "
        >
          <p class="lg:col-span-3 lg:ml-2">Descripción</p>
          <p class="lg:col-span-2 lg:ml-7">Subtotal</p>
          <p class="lg:-ml-10">Total</p>
        </div>
        <div class="grid grid-cols-6 gap-4 mb-4">
          <div class="lg:col-span-4">
            <productCart
              ref="productCart"
              @showModal="ChangeModal($event)"
              v-on:pushSubTotal="pushSubTotal"
              v-for="(item, index) in Cart"
              :key="index"
              :id="item.id"
              :unit="item.attributes.unit"
              :stock="item.attributes.stock"
              :name="item.name"
              :price="item.price"
              :quantity="item.quantity"
              :url="item.attributes.image"
            />
          </div>
          <aside
            class="
              lg:col-span-2 lg:px-4 lg:text-lg
              text-cafe
              gap-1
              font-bold
              lg:pt-5
              bg-aside
              lg:rounded-lg
            "
          >
            <div class="grid grid-cols-2 mb-8">
              <p class="col-span-1 lg:h-xl mb-0">Subtotal</p>
              <p class="col-span-1 lg:h-xl text-right">
                {{ subTotalFormated }}
              </p>
              <p class="col-span-1 lg:h-xl mb-0">Envio</p>
              <p class="col-span-1 lg:h-xl text-right">
                {{ totalShippingFormated }}
              </p>
              <p class="col-span-1 lg:h-xl mb-0">Total</p>
              <p class="col-span-1 lg:h-xl text-right">{{ totalFormated }}</p>
            </div>
            <!-- <button @click="foo">asda</button> -->
            <Link class="mt-10" :href="route('checkout.index')">
              <jet-button class="bg-coffe w-full text-white text-lg sm:mr-2">
                Finalizar compra
              </jet-button>
            </Link>
          </aside>
        </div>
      </div>
      <div class="h-product_cart" v-else>
        <p class="text-center">Carrito vació</p>
      </div>
    </div>

    <div
      class="
        grid grid-cols-3
        lg:grid-cols-6
        gap-4
        px-5
        lg:px-24
        2xl:px-60
        mb-10
      "
    >
      <p class="col-span-3 lg:col-span-6 text-cafe text-xl font-bold">
        Te puede interesar
      </p>
      <product
        v-for="(product, index) in Products"
        :key="index"
        :url="
          product.pictures[0]
            ? product.pictures[0].url
            : 'https://www.sinrumbofijo.com/wp-content/uploads/2016/05/default-placeholder.png'
        "
        :name="product.name"
        :price="
          product.product_type == 'variable'
            ? product.values[0].price
            : product.meta.price
        "
        :unit="
          product.product_type == 'variable' ? product.values[0].term.name : ''
        "
        :slug="product.slug"
      />
    </div>
    <div
      v-if="modal === true"
      tabindex="-1"
      class="
        flex
        bg-background bg-opacity-40
        overflow-y-auto overflow-x-hidden
        fixed
        top-0
        right-0
        left-0
        z-50
        md:inset-0
        h-modal
        md:h-full
        justify-center
        items-center
      "
      aria-hidden="true"
    >
      <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <div class="flex justify-end p-2"></div>
          <div class="p-6 pt-0 text-center">
            <h3
              class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400"
            >
              ¿Seguro que quieres eliminar este producto?
            </h3>
            <button
              @click="remove"
              class="
                text-white
                bg-orange
                focus:ring-4 focus:outline-none focus:ring-red-300
                dark:focus:ring-red-800
                font-medium
                rounded-lg
                text-sm
                inline-flex
                items-center
                px-5
                py-2.5
                text-center
                mr-2
              "
            >
              Si, seguro
            </button>
            <button
              @click="modal = false"
              class="
                text-gray-500
                bg-white
                hover:bg-gray-100
                focus:ring-4 focus:outline-none focus:ring-gray-200
                rounded-lg
                border border-gray-200
                text-sm
                font-medium
                px-5
                py-2.5
                hover:text-gray-900
                focus:z-10
                dark:bg-gray-700
                dark:text-gray-300
                dark:border-gray-500
                dark:hover:text-white
                dark:hover:bg-gray-600
                dark:focus:ring-gray-600
              "
            >
              No, cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </app-layout>
</template>
<script>
import { defineComponent } from "vue";
import JetButton from "@/Jetstream/Button.vue";
import { Head, Link } from "@inertiajs/inertia-vue3";
import AppLayout from "@/Layouts/AppLayout.vue";
import ProductCart from "@/Components/ProductCart.vue";
import Product from "@/Components/Product.vue";
import { Inertia } from "@inertiajs/inertia";

export default defineComponent({
  components: {
    AppLayout,
    Head,
    Link,
    JetButton,
    ProductCart,
    Product,
    Inertia,
  },

  props: {
    Cart: Object,
    Products: Object,
  },
  emits: ["pushSubTotal"],
  data() {
    return {
      modal: false,
      shipping: 1000,
      total: 0,
      subTotal: 0,
      subTotals: [],
      shipping: 1000,
      progress: 47,
      productId: null,
    };
  },
  computed: {
    subTotalFormated() {
      return new Intl.NumberFormat("es-CO", {
        style: "currency",
        currency: "COP",
      }).format(this.subTotal);
    },
    totalShippingFormated() {
      return new Intl.NumberFormat("es-CO", {
        style: "currency",
        currency: "COP",
      }).format(this.shipping);
    },
    totalFormated() {
      return new Intl.NumberFormat("es-CO", {
        style: "currency",
        currency: "COP",
      }).format(this.shipping + this.subTotal);
    },
  },
  methods: {
    foo() {
      Inertia.visit("finalizar-compra", {
        method: "get",
        data: {
          name: "John Doe",
          email: "john.doe@example.com",
        },
      });
    },
    remove() {
      this.$refs.productCart.remove(this.productId);
      this.ChangeModal();
    },
    ChangeModal(event) {
      this.modal = !this.modal;
      this.productId = event;
    },
    pushSubTotal(data) {
      let subtotalProduct = this.subTotals.filter((a) => a.id == data.id);
      if (subtotalProduct.length > 0) {
        var index = this.subTotals.indexOf(subtotalProduct[0]);
        if (data.remove) {
          this.subTotals.splice(index, 1);
        } else {
          this.subTotals[index].subTotal = data.subTotal;
        }
      } else {
        this.subTotals.push(data);
      }
      this.subTotal = this.subTotals.reduce((a, b) => a + b.subTotal, 0);
    },
  },
});
</script>
