<template>
  <app-layout title="Perfil">
    <div class="grid grid-cols-2 gap-1 pt-32 lg:px-24">
      <div class="lg:pr-0">
        <img
          class="rounded-lg lg:h-avatar"
          :src="`https://ui-avatars.com/api/name=${$page.props.user.name}?size=120`"
          alt="Avatar"
        />
      </div>
      <div class="grid grid-cols-4">
        <div @click="redirect('/user/profile')" class="lg:px-4 text-center">
          <svg
            class="
              w-24
              lg:ml-2
              p-2
              rounded-lg
              bg-white
              text-yellow
              cursor-pointer
            "
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
            ></path>
          </svg>
          <p class="text-coffe text-center">Mis datos</p>
        </div>
        <div @click="redirect('/pedidos')" class="lg:px-4 text-center">
          <svg
            class="
              w-24
              lg:ml-2
              p-2
              rounded-lg
              text-yellow
              bg-white
              cursor-pointer
            "
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"
            ></path>
          </svg>
          <p class="text-coffe text-center">Mis pedidos</p>
        </div>
        <div @click="redirect('/direcciones')" class="lg:px-4 text-center">
          <svg
            class="
              w-24
              lg:ml-2
              p-2
              rounded-lg
              text-green
              bg-white
              cursor-pointer
            "
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
            ></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
            ></path>
          </svg>
          <p class="text-coffe text-center">Mis direcciones</p>
        </div>
        <div class="lg:px-4 text-center mr-0">
          <svg
            class="
              w-24
              lg:ml-2
              p-2
              rounded-lg
              text-yellow
              bg-white
              cursor-pointer
            "
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 8l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2M5 3a2 2 0 00-2 2v1c0 8.284 6.716 15 15 15h1a2 2 0 002-2v-3.28a1 1 0 00-.684-.948l-4.493-1.498a1 1 0 00-1.21.502l-1.13 2.257a11.042 11.042 0 01-5.516-5.517l2.257-1.128a1 1 0 00.502-1.21L9.228 3.683A1 1 0 008.279 3H5z"
            ></path>
          </svg>
          <p class="text-coffe text-center">Atención al cliente</p>
        </div>
      </div>
      <div
        class="
          col-span-2
          lg-mt-5
          grid grid-cols-2
          gap-4
          lg:px-24
          container-user-profile
        "
      >
        <div class="overflow-y-auto max-h-addresses">
          <Address
            v-for="(address, index) in Addresses"
            :key="index"
            ref="Address"
            @showModal="ChangeModal($event)"
            @editAddress="editAddress($event)"
            :id="address.id"
            :country="address.country"
            :code_country="address.code_country"
            :department="address.department"
            :code_department="address.code_department"
            :city="address.city"
            :address="address.address"
            :reference="address.reference"
          />
        </div>
        <div>
          <form
          v-if="edit == true"
            @submit.prevent="update"
            class="
              form form-register
              text-primary
              px-4
              mb-3
              mt-1
              my-10
              grid grid-cols-1
            "
          >
            <div class="mt-3">
              <select
                class="
                  mt-1
                  w-full
                  border-none
                  text-cafe
                  bg-white
                  h-input
                  focus:border-primary
                  focus:ring
                  focus:ring-primary
                  focus:ring-opacity-50
                  rounded-lg
                "
                required
                name="country"
                id="country"
              >
                <option hidden selected>País</option>
                <option
                  @click="formAddress.country = 'Colombia'"
                  value="Colombia"
                >
                  Colombia
                </option>
              </select>
            </div>
            <div class="mt-3">
              <select
                class="
                  mt-1
                  w-full
                  border-none
                  text-cafe
                  bg-white
                  h-input
                  focus:border-primary
                  focus:ring
                  focus:ring-primary
                  focus:ring-opacity-50
                  rounded-lg
                  input-custom
                "
                required
                name="department"
                id="department"
              >
                <option hidden selected>Departamento</option>
                <option
                  @click="formAddress.department = 'Antioquia'"
                  value="Antioquia"
                >
                  Antioquia
                </option>
              </select>
            </div>
            <div class="mt-3">
              <select
                class="
                  mt-1
                  w-full
                  border-none
                  text-cafe
                  bg-white
                  h-input
                  focus:border-primary
                  focus:ring
                  focus:ring-primary
                  focus:ring-opacity-50
                  rounded-lg
                  input-custom
                "
                required
                name="city"
                id="city"
              >
                <option hidden selected>Ciudad</option>
                <option @click="formAddress.city = 'Bello'" value="Bello">
                  Bello
                </option>
              </select>
            </div>
            <div class="mt-3">
              <jet-input
                placeholder="Dirección"
                id="address"
                type="text"
                class="mt-1 block w-full"
                v-model="formAddress.address"
                required
                autocomplete="off"
              />
            </div>
            <div class="mt-3">
              <jet-input
                placeholder="Referencia"
                id="reference"
                type="text"
                class="mt-1 block w-full"
                v-model="formAddress.reference"
                required
                autocomplete="off"
              />
            </div>
            <jet-button
              v-if="edit == true"
              class="bg-primary w-full text-xl btn-auth text-white"
              :class="{ 'opacity-25': formAddress.processing }"
              :disabled="formAddress.processing"
            >
              Actualizar dirección
            </jet-button>
            <jet-button
              v-if="edit == true"
              @click="(edit = false), this.formAddress.reset()"
              class="bg-yellow w-full text-xl btn-auth text-white"
            >
              Cancelar
            </jet-button>
          </form>
          <form
          v-if="edit == false"
            @submit.prevent="submit"
            class="
              form form-register
              text-primary
              px-4
              mb-3
              mt-1
              my-10
              grid grid-cols-1
            "
          >
            <div class="mt-3">
              <select
                class="
                  mt-1
                  w-full
                  border-none
                  text-cafe
                  bg-white
                  h-input
                  focus:border-primary
                  focus:ring
                  focus:ring-primary
                  focus:ring-opacity-50
                  rounded-lg
                "
                required
                name="country"
                id="country"
              >
                <option hidden selected>País</option>
                <option
                  @click="formAddress.country = 'Colombia'"
                  value="Colombia"
                >
                  Colombia
                </option>
              </select>
            </div>
            <div class="mt-3">
              <select
                class="
                  mt-1
                  w-full
                  border-none
                  text-cafe
                  bg-white
                  h-input
                  focus:border-primary
                  focus:ring
                  focus:ring-primary
                  focus:ring-opacity-50
                  rounded-lg
                  input-custom
                "
                required
                name="department"
                id="department"
              >
                <option hidden selected>Departamento</option>
                <option
                  @click="formAddress.department = 'Antioquia'"
                  value="Antioquia"
                >
                  Antioquia
                </option>
              </select>
            </div>
            <div class="mt-3">
              <select
                class="
                  mt-1
                  w-full
                  border-none
                  text-cafe
                  bg-white
                  h-input
                  focus:border-primary
                  focus:ring
                  focus:ring-primary
                  focus:ring-opacity-50
                  rounded-lg
                  input-custom
                "
                required
                name="city"
                id="city"
              >
                <option hidden selected>Ciudad</option>
                <option @click="formAddress.city = 'Bello'" value="Bello">
                  Bello
                </option>
              </select>
            </div>
            <div class="mt-3">
              <jet-input
                placeholder="Dirección"
                id="address"
                type="text"
                class="mt-1 block w-full"
                v-model="formAddress.address"
                required
                autocomplete="off"
              />
            </div>
            <div class="mt-3">
              <jet-input
                placeholder="Referencia"
                id="reference"
                type="text"
                class="mt-1 block w-full"
                v-model="formAddress.reference"
                required
                autocomplete="off"
              />
            </div>

            <jet-button
              v-if="edit == false"
              class="bg-primary w-full text-xl btn-auth text-white"
              :class="{ 'opacity-25': formAddress.processing }"
              :disabled="formAddress.processing"
            >
              Guardar dirección
            </jet-button>                   
          </form>
        </div>
      </div>
    </div>

    <form @submit.prevent="logout">
      <jet-dropdown-link as="button"> Cerrar Sesión </jet-dropdown-link>
    </form>
    <div
      v-if="modal === true"
      tabindex="-1"
      class="
        flex
        bg-background bg-opacity-40
        overflow-y-auto overflow-x-hidden
        fixed
        top-0
        right-0
        left-0
        z-50
        md:inset-0
        h-modal
        md:h-full
        justify-center
        items-center
      "
      aria-hidden="true"
    >
      <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <div class="flex justify-end p-2"></div>
          <div class="p-6 pt-0 text-center">
            <h3
              class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400"
            >
              ¿Seguro que quieres eliminar esta dirección?
            </h3>
            <button
              @click="remove"
              class="
                text-white
                bg-orange
                focus:ring-4 focus:outline-none focus:ring-red-300
                dark:focus:ring-red-800
                font-medium
                rounded-lg
                text-sm
                inline-flex
                items-center
                px-5
                py-2.5
                text-center
                mr-2
              "
            >
              Si, seguro
            </button>
            <button
              @click="modal = false"
              class="
                text-gray-500
                bg-white
                hover:bg-gray-100
                focus:ring-4 focus:outline-none focus:ring-gray-200
                rounded-lg
                border border-gray-200
                text-sm
                font-medium
                px-5
                py-2.5
                hover:text-gray-900
                focus:z-10
                dark:bg-gray-700
                dark:text-gray-300
                dark:border-gray-500
                dark:hover:text-white
                dark:hover:bg-gray-600
                dark:focus:ring-gray-600
              "
            >
              No, cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import { defineComponent } from "vue";
import AppLayout from "@/Layouts/AppLayout.vue";
import JetButton from "@/Jetstream/Button.vue";
import JetInput from "@/Jetstream/Input.vue";
import JetInputError from "@/Jetstream/InputError.vue";
import Address from "@/Components/Address.vue";

export default defineComponent({
  props: {
    Addresses: Array,
  },
  components: {
    AppLayout,
    JetButton,
    JetInput,
    JetInputError,
    Address,
  },
  methods: {
    submit() {
      this.formAddress.post(this.route("address.store"), {
        onSuccess: () => {
          this.formAddress.reset();
        },
      });
    },
    update() {
      this.formAddress.post(this.route("address.update"), {
        onSuccess: () => {
          this.edit = false;
          this.formAddress.reset();
        },
      });
    },
    logout() {
      this.$inertia.post(route("logout"));
    },
    redirect(url) {
      this.$inertia.get(url);
    },
    remove() {
      this.$refs.Address.remove(this.productId);
      this.ChangeModal();
      alert(Eliminar);
    },
    ChangeModal(event) {
      this.modal = !this.modal;
      this.productId = event;
    },
    editAddress(event) {
      let address = this.Addresses.find((element) => element.id == event);
      this.edit = true;
      this.formAddress.id = address.id;
      this.formAddress.country = address.country;
      this.formAddress.department = address.department;
      this.formAddress.city = address.city;
      this.formAddress.address = address.address;
      this.formAddress.reference = address.reference;
    },
  },
  data() {
    return {
      edit: false,
      formAddress: this.$inertia.form({
        id: "",
        country: "",
        department: "",
        city: "",
        reference: "",
        address: "",
      }),
      form: this.$inertia.form({
        current_password: "",
        password: "",
        password_confirmation: "",
      }),
      modal: false,
    };
  },
});
</script>
<style scoped>
.container-user-profile {
  height: auto;
  border: 2px solid #613000;
  border-radius: 15px;
  padding: 1em;
}
</style>