<template>
  <app-layout title="Perfil">
    <div class="grid grid-cols-2 gap-1 pt-32 lg:px-24">
      <div class="lg:pr-0">
        <img
          class="rounded-lg lg:h-avatar"
          :src="`https://ui-avatars.com/api/name=${$page.props.user.name}?size=120`"
          alt="Avatar"
        />
      </div>
      <div class="grid grid-cols-4">
        
        <div @click="redirect('/user/profile')" class="lg:px-4 text-center">
          <svg
            class="
              w-24
              lg:ml-2
              p-2
              rounded-lg
              bg-white
              text-green
              cursor-pointer
            "
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
            ></path>
          </svg>
          <p class="text-coffe text-center">Mis datos</p>
        </div>
        <div  @click="redirect('/pedidos')" class="lg:px-4 text-center">
          <svg
            class="
              w-24
              lg:ml-2
              p-2
              rounded-lg
              text-yellow
              bg-white
              cursor-pointer
            "
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"
            ></path>
          </svg>
          <p class="text-coffe text-center">Mis pedidos</p>
        </div>
        <div  @click="redirect('/direcciones')"  class="lg:px-4 text-center">
          <svg
            class="
              w-24
              lg:ml-2
              p-2
              rounded-lg
              text-yellow
              bg-white
              cursor-pointer
            "
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
            ></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
            ></path>
          </svg>
          <p class="text-coffe text-center">Mis direcciones</p>
        </div>
        <div class="lg:px-4 text-center mr-0">
          <svg
            class="
              w-24
              lg:ml-2
              p-2
              rounded-lg
              text-yellow
              bg-white
              cursor-pointer
            "
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 8l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2M5 3a2 2 0 00-2 2v1c0 8.284 6.716 15 15 15h1a2 2 0 002-2v-3.28a1 1 0 00-.684-.948l-4.493-1.498a1 1 0 00-1.21.502l-1.13 2.257a11.042 11.042 0 01-5.516-5.517l2.257-1.128a1 1 0 00.502-1.21L9.228 3.683A1 1 0 008.279 3H5z"
            ></path>
          </svg>
          <p class="text-coffe text-center">Atención al cliente</p>
        </div>
      </div>
      <div
        class="
          col-span-2
          lg-mt-5
          grid grid-cols-2
          gap-1
          lg:px-24
          container-user-profile
        "
      >
        <div>
          <div
            class="lg:px-2"
            v-if="$page.props.jetstream.canUpdateProfileInformation"
          >
            <h1 class="text-cafe lg:text-2xl font-bold">Mis datos</h1>
            <div class="col-span-12 grid grid-cols-2 gap-2 sm:col-span-4">
              <div>
                <jet-input
                  placeholder="Nombres"
                  id="user_name"
                  type="text"
                  class="mt-1 block w-full"
                  v-model="user.name"
                  ref="user_name"
                />
                <jet-input-error :message="user.errors.name" class="mt-2" />
              </div>
              <div>
                <jet-input
                  placeholder="Apellidos"
                  id="last_name"
                  type="text"
                  class="mt-1 block w-full"
                  v-model="user.last_name"
                  ref="last_name"
                />
                <jet-input-error
                  :message="user.errors.last_name"
                  class="mt-2"
                />
              </div>
            </div>
            <div class="col-span-12 sm:col-span-4 mt-2">
              <jet-input
                placeholder="Correo"
                id="email"
                type="email"
                class="mt-1 block w-full"
                v-model="user.email"
                ref="email"
              />
              <jet-input-error :message="user.errors.email" class="mt-2" />
            </div>
            <div class="col-span-12 sm:col-span-4 mt-2 mb-2">
              <jet-input
                placeholder="Teléfono"
                id="phone"
                type="tel"
                class="mt-1block w-full"
                v-model="user.phone"
                ref="phone"
              />
              <jet-input-error :message="user.errors.phone" class="mt-2" />
            </div>
            <jet-button
              @click="updateProfileInformation()"
              class="bg-yellow w-full text-xl btn-auth text-white"
              :class="{ 'opacity-25': form.processing }"
              :disabled="form.processing"
            >
              Actualizar datos
            </jet-button>
          </div>
        </div>
        <div>
          <div class="lg:pt-8" v-if="$page.props.jetstream.canUpdatePassword">
            <div class="col-span-12 sm:col-span-4 lg:mb-2">
              <jet-input
                placeholder="Contraseña actual"
                id="current_password"
                type="password"
                class="mt-1 block w-full"
                v-model="form.current_password"
                ref="current_password"
                autocomplete="none"
              />
              <jet-input-error
                :message="form.errors.current_password"
                class="mt-2"
              />
            </div>
            <div class="col-span-12 sm:col-span-4 lg:mb-2">
              <jet-input
                placeholder="Nueva contraseña"
                id="password"
                type="password"
                class="mt-1 block w-full"
                v-model="form.password"
                ref="password"
                autocomplete="new-password"
              />
              <jet-input-error :message="form.errors.password" class="mt-2" />
            </div>

            <div class="col-span-12 sm:col-span-4 lg:mb-2">
              <jet-input
                placeholder="Confirmar contraseña"
                id="password_confirmation"
                type="password"
                class="mt-1 block w-full"
                v-model="form.password_confirmation"
                autocomplete="new-password"
              />
              <jet-input-error
                :message="form.errors.password_confirmation"
                class="mt-2"
              />
            </div>
            <jet-button
              @click="updatePassword()"
              class="bg-yellow w-full text-xl btn-auth text-white"
              :class="{ 'opacity-25': form.processing }"
              :disabled="form.processing"
            >
              Actualizar contraseña
            </jet-button>
          </div>
        </div>
      </div>
    </div>

    <form @submit.prevent="logout">
      <jet-dropdown-link as="button"> Cerrar Sesión </jet-dropdown-link>
    </form>
    <!-- DEFAULT -->
    <!-- <div class="pt-20">
      <div class="max-w-7xl mx-auto py-10 sm:px-6 lg:px-8">
        <div v-if="$page.props.jetstream.canUpdateProfileInformation">
          <update-profile-information-form :user="$page.props.user" />

          <jet-section-border />
        </div>

        <div v-if="$page.props.jetstream.canUpdatePassword">
          <update-password-form class="mt-10 sm:mt-0" />

          <jet-section-border />
        </div>

        <div v-if="$page.props.jetstream.canManageTwoFactorAuthentication">
          <two-factor-authentication-form class="mt-10 sm:mt-0" />

          <jet-section-border />
        </div>

        <logout-other-browser-sessions-form
          :sessions="sessions"
          class="mt-10 sm:mt-0"
        />

        <template v-if="$page.props.jetstream.hasAccountDeletionFeatures">
          <jet-section-border />

          <delete-user-form class="mt-10 sm:mt-0" />
        </template>
      </div>
    </div> -->
  </app-layout>
</template>

<script>
import { defineComponent } from "vue";
import AppLayout from "@/Layouts/AppLayout.vue";
import DeleteUserForm from "@/Pages/Profile/Partials/DeleteUserForm.vue";
import JetSectionBorder from "@/Jetstream/SectionBorder.vue";
import LogoutOtherBrowserSessionsForm from "@/Pages/Profile/Partials/LogoutOtherBrowserSessionsForm.vue";
import TwoFactorAuthenticationForm from "@/Pages/Profile/Partials/TwoFactorAuthenticationForm.vue";
import UpdatePasswordForm from "@/Pages/Profile/Partials/UpdatePasswordForm.vue";
import UpdateProfileInformationForm from "@/Pages/Profile/Partials/UpdateProfileInformationForm.vue";
import JetDropdown from "@/Jetstream/Dropdown.vue";
import JetDropdownLink from "@/Jetstream/DropdownLink.vue";
import JetActionMessage from "@/Jetstream/ActionMessage.vue";
import JetButton from "@/Jetstream/Button.vue";
import JetFormSection from "@/Jetstream/FormSection.vue";
import JetInput from "@/Jetstream/Input.vue";
import JetInputError from "@/Jetstream/InputError.vue";
import JetLabel from "@/Jetstream/Label.vue";

export default defineComponent({
  props: ["sessions"],
  components: {
    AppLayout,
    DeleteUserForm,
    JetSectionBorder,
    LogoutOtherBrowserSessionsForm,
    TwoFactorAuthenticationForm,
    UpdatePasswordForm,
    UpdateProfileInformationForm,
    JetDropdown,
    JetDropdownLink,
    JetActionMessage,
    JetButton,
    JetFormSection,
    JetInput,
    JetInputError,
    JetLabel,
  },
  mounted() {},
  methods: {
    logout() {
      this.$inertia.post(route("logout"));
    },
    redirect(url) {
      this.$inertia.get(url);
    },
    updateProfileInformation() {
      this.user.put(route("user-profile-information.update"), {
        errorBag: "updateProfileInformation",
        preserveScroll: true,
      });
    },
    updatePassword() {
      this.form.put(route("user-password.update"), {
        errorBag: "updatePassword",
        preserveScroll: true,
        onSuccess: () => this.form.reset(),
        onError: () => {
          if (this.form.errors.password) {
            this.form.reset("password", "password_confirmation");
            this.$refs.password.focus();
          }

          if (this.form.errors.current_password) {
            this.form.reset("current_password");
            this.$refs.current_password.focus();
          }
        },
      });
    },
  },
  data() {
    return {
      user: this.$inertia.form({
        name: this.$page.props.user.name,
        last_name: this.$page.props.user.last_name,
        email: this.$page.props.user.email,
        phone: this.$page.props.user.phone,
      }),
      form: this.$inertia.form({
        current_password: "",
        password: "",
        password_confirmation: "",
      }),
    };
  },
});
</script>
<style scoped>
.container-user-profile {
  height: auto;
  border: 2px solid #613000;
  border-radius: 15px;
  padding: 1em;
}
</style>