<template>
  <app-layout title="Perfil">
    <div class="grid grid-cols-2 gap-1 pt-32 lg:px-24">
      <div class="lg:pr-0">
        <img
          class="rounded-lg lg:h-avatar"
          :src="`https://ui-avatars.com/api/name=${$page.props.user.name}?size=120`"
          alt="Avatar"
        />
      </div>
      <div class="grid grid-cols-4">
        <div @click="redirect('/user/profile')" class="lg:px-4 text-center">
          <svg
            class="
              w-24
              lg:ml-2
              p-2
              rounded-lg
              bg-white
              text-yellow
              cursor-pointer
            "
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
            ></path>
          </svg>
          <p class="text-coffe text-center">Mis datos</p>
        </div>
        <div @click="redirect('/pedidos')" class="lg:px-4 text-center">
          <svg
            class="
              w-24
              lg:ml-2
              p-2
              rounded-lg
              text-green
              bg-white
              cursor-pointer
            "
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z"
            ></path>
          </svg>
          <p class="text-coffe text-center">Mis pedidos</p>
        </div>
        <div @click="redirect('/direcciones')" class="lg:px-4 text-center">
          <svg
            class="
              w-24
              lg:ml-2
              p-2
              rounded-lg
              text-yellow
              bg-white
              cursor-pointer
            "
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
            ></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
            ></path>
          </svg>
          <p class="text-coffe text-center">Mis direcciones</p>
        </div>
        <div class="lg:px-4 text-center mr-0">
          <svg
            class="
              w-24
              lg:ml-2
              p-2
              rounded-lg
              text-yellow
              bg-white
              cursor-pointer
            "
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 8l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2M5 3a2 2 0 00-2 2v1c0 8.284 6.716 15 15 15h1a2 2 0 002-2v-3.28a1 1 0 00-.684-.948l-4.493-1.498a1 1 0 00-1.21.502l-1.13 2.257a11.042 11.042 0 01-5.516-5.517l2.257-1.128a1 1 0 00.502-1.21L9.228 3.683A1 1 0 008.279 3H5z"
            ></path>
          </svg>
          <p class="text-coffe text-center">Atención al cliente</p>
        </div>
      </div>
      <div
        class="
          col-span-2
          lg-mt-5
          grid grid-cols-5
          gap-4
          lg:px-24
          container-user-profile
        "
      >
      <div class="col-span-2">
        <h1 class="text-cafe text-2xl font-bold">Historial de pedidos</h1>
         <div class="overflow-y-auto max-h-products">
          <div
            v-for="(product, index) in Products"
            :key="index"
            class="
              grid
              lg:grid-cols-6
              gap-0
              lg:p-3
              bg-white
              rounded-lg
              lg:mb-4
              text-cafe
            "
          >
            <img
              class="col-span-1 rounded-lg img-product-order mr-0"
              :src="
                product.pictures[0]
                  ? product.pictures[0].url
                  : 'https://www.sinrumbofijo.com/wp-content/uploads/2016/05/default-placeholder.png'
              "
            />
            <div class="col-span-3 container-descr lg:pt-2">
              <div class="grid grid-cols-3">
                <div class="col-span-3">
                  <p class="text-xl font-bold">
                    {{ product.name }}
                  </p>
                  <p class="text-md">
                    <span class="font-bold">Total: </span>
                    {{ total(product.id) }}
                  </p>

                  <p class="text-md">
                    <span class="font-bold">Fecha: </span
                    >{{ moment(product.created_at).format("DD-MM-YYYY") }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-3">
        detalles
      </div>

      </div>
    </div>

  
  </app-layout>
</template>

<script>
import { defineComponent } from "vue";
import AppLayout from "@/Layouts/AppLayout.vue";
import JetButton from "@/Jetstream/Button.vue";
import JetInput from "@/Jetstream/Input.vue";
import JetInputError from "@/Jetstream/InputError.vue";
import Address from "@/Components/Address.vue";

export default defineComponent({
  props: {
    Orders: Array,
  },
  components: {
    AppLayout,
    JetButton,
    JetInput,
    JetInputError,
    Address,
  },
  methods: {
  
    redirect(url) {
      this.$inertia.get(url);
    },
   
   
  },
  data() {
    return {
      edit: false,
    };
  },
});
</script>
<style scoped>
.container-user-profile {
  height: auto;
  border: 2px solid #613000;
  border-radius: 15px;
  padding: 1em;
}
</style>