<template>
  <app-layout title="Pedido">
    <Head title="Pedido" />

    <div class="grid grid-cols-5 gap-0 lg:gap-x-10 pt-20 lg:pt-32 lg:px-24">
      <div class="col-span-5">
        <p class="text-xl text-primary lg:mb-4">
          Inicio<span>/</span>Pedido/<span>{{ Order.order_number }}</span>
        </p>
        <p class="text-2xl text-cafe font-bold lg:mb-4">Detalles del Pedido</p>
      </div>
      <div class="col-span-3">
           
        <div class="grid grid-cols-3 text-cafe bg-aside p-6  rounded-lg">
          <div>
            <p class="font-bold">Subtotal</p>
            <p class="font-bold">Domicilio</p>
            <p v-if="Order.shipping.express" class="font-bold">Pedido express</p>
            <p class="font-bold">Total</p>
          </div>
          <div>
            <p>{{
              new Intl.NumberFormat("es-CO", {
                style: "currency",
                currency: "COP",
              }).format(Order.sub_total)
            }}</p>
            <p>{{
              new Intl.NumberFormat("es-CO", {
                style: "currency",
                currency: "COP",
              }).format(Order.shippingBasic)
            }}</p>
            <p v-if="Order.shipping.express">{{
              new Intl.NumberFormat("es-CO", {
                style: "currency",
                currency: "COP",
              }).format(Order.shippingExpress)
            }}</p>
            <p>{{
              new Intl.NumberFormat("es-CO", {
                style: "currency",
                currency: "COP",
              }).format(Order.total)
            }}</p>
          </div>
          <div>
            <jet-button  @click="redirect('/pedidos')" class="bg-coffe w-full text-white text-lg sm:mr-2">
              Mis domicilios
            </jet-button>
            <jet-button class="bg-orange w-full text-white text-lg sm:mr-2">
              Contactar tienda
            </jet-button>
          </div>
        </div>
      </div>
      <div class="col-span-2 grid grid-cols-1">
        <p class="text-lg text-cafe mb-4 font-bold">Productos</p>
        <div class="overflow-y-auto max-h-products">
          <div
            v-for="(product, index) in Products"
            :key="index"
            class="
              grid
              lg:grid-cols-6
              gap-0
              lg:p-3
              bg-white
              rounded-lg
              lg:mb-4
              text-cafe
            "
          >
            <img
              class="col-span-1 rounded-lg img-product-order mr-0"
              :src="
                product.pictures[0]
                  ? product.pictures[0].url
                  : 'https://www.sinrumbofijo.com/wp-content/uploads/2016/05/default-placeholder.png'
              "
            />
            <div class="col-span-3 container-descr lg:pt-2">
              <div class="grid grid-cols-3">
                <div class="col-span-3">
                  <p class="text-xl font-bold">
                    {{ product.name }}
                  </p>
                  <p class="text-md">
                    <span class="font-bold">Total: </span>
                    {{ total(product.id) }}
                  </p>

                  <p class="text-md">
                    <span class="font-bold">Fecha: </span
                    >{{ moment(product.created_at).format("DD-MM-YYYY") }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import { defineComponent } from "vue";
import AppLayout from "@/Layouts/AppLayout.vue";
import moment from "moment";
import JetButton from "@/Jetstream/Button.vue";

export default defineComponent({
  props: {
    Order: Object,
    Products: Array,
  },
  components: {
    AppLayout,
    JetButton,
  },
  mounted() {},

  data() {
    return {
      moment: moment,
      form: this.$inertia.form({
        password_confirmation: "",
      }),
    };
  },
  computed: {},
  methods: {
     redirect(url) {
      this.$inertia.get(url);
    },
    total(id) {
      for (const iterator of this.Order.detail) {
        if (iterator.product_id == id) {
          return new Intl.NumberFormat("es-CO", {
            style: "currency",
            currency: "COP",
          }).format(iterator.total);
        }
      }
    },
  },
});
</script>
<style scoped>
.img-product-order {
  max-height: 50px;
  max-width: 50px;
}
</style>
