<template>
    <!-- component -->
    <button
        :type="type"
        class="
            hover:bg-blue-dark
            text-white
            font-bold
            h-xl
            py-2
            px-4
            rounded-lg
            mt-3
        "
    >
        <slot class="text-white"></slot>
    </button>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
    props: {
        type: {
            type: String,
            default: "submit",
        },
    },
});
</script>
