<template>
    <input
        type="checkbox"
        :value="value"
        v-model="proxyChecked"
        class="
            rounded
            border-gray-300
            shadow-sm
            checkbox-custom
        "
    />
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
    emits: ["update:checked"],

    props: {
        checked: {
            type: [Array, Boolean],
            default: false,
        },
        value: {
            default: null,
        },
    },

    computed: {
        proxyChecked: {
            get() {
                return this.checked;
            },

            set(val) {
                this.$emit("update:checked", val);
            },
        },
    },
});
</script>
<style scoped>
.checkbox-custom {
    margin: 8px auto 10px;
    border-radius: 5px;
}
input[type="checkbox"].checkbox-custom:checked {
    border-color: #79b942;
    background-color: #79b942;
}
</style>
