<template>
    <input
        :placeholder="placeholder"
        class="
            border-none
            text-cafe
            bg-white
            h-input
            focus:border-primary
            focus:ring
            focus:ring-primary
            focus:ring-opacity-50
            rounded-lg
            input-custom
        "
        :value="modelValue"
        @input="$emit('update:modelValue', $event.target.value)"
        ref="input"
    />
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
    props: ["modelValue", "placeholder"],

    emits: ["update:modelValue"],

    methods: {
        focus() {
            this.$refs.input.focus();
        },
    },
});
</script>
<style scoped>
::placeholder {
    color: #613000;
}
.input-custom{
    margin: 0 auto 1px;
}
</style>
