<template>
  <toast :toast="$page.props.toast"></toast>

  <div>
    <Head :title="title" />
    <div class="min-h-screen">
      <nav
        class="
          grid grid-cols-8
          lg:grid-cols-12
          min-w-full
          fixed
          rounded-b-lg
          lg:rounded-none
          h-nav
          bg-green
          lg:bg-background
          gap-4
          lg:gap-0 lg:px-24
          2xl:px-60
          z-50
        "
      >
        <div class="col-span-2 lg:col-span-6 pl-5 py-3 lg:px-0 mr-0">
          <Link :href="route('home')">
            <img
              class="bg-logo logo-nav rounded-lg-2 lg:hidden"
              src="../../img/LOGO.svg"
              alt="Logo"
            />
            <img
              class="logo-nav rounded-lg-2 hidden lg:block"
              src="../../img/logo-desktop.png"
              alt="Logo"
            />
          </Link>
        </div>
        <div
          class="
            col-span-6
            lg:col-span-6
            grid grid-cols-5
            lg:grid-cols-6 lg:gap-0
            pl-0
            pr-5
            lg:pr-0
            py-3
            pb-5
            mr-0
          "
        >
          <div
            class="
              col-span-1
              lg:col-span-1
              bg-white
              lg:bg-input-search-desktop
              container-hamburger
            "
          >
            <i
              class="text-2xl fas fa-bars text-orange lg:text-green mt-4 px-3"
            ></i>
          </div>
          <!-- Dropdown menu -->

          <input
            v-model="search"
            class="
              col-span-3
              lg:col-span-3
              bg-white
              lg:bg-input-search-desktop
              focus:outline-none
              container-input
            "
          />
          <div
            class="
              col-span-1
              lg:col-span-1
              bg-white
              lg:bg-input-search-desktop
              container-icon-search
            "
          >
            <i
              class="
                text-2xl
                fas fas
                fa-search
                text-orange
                lg:text-green
                mt-4
                ml-6
                lg:ml-14
              "
            ></i>
          </div>
          <!-- hide mobile -->
          <div
            class="
              hidden
              lg:block lg:col-span-1
              grid grid-cols-2
              ml-0
              text-right
            "
          >
            <Link :href="route('cart.index')">
              <i
                class="
                  fas
                  fa-cart-plus
                  text-green text-3xl
                  pt-3
                  mr-2
                  container-icon-desktop
                  col-span-1
                "
              ></i>
            </Link>

            <Link v-if="$page.props.user" :href="route('profile.show')">
              <i
                class="
                  fas
                  fa-user
                  text-green
                  ml-0
                  text-3xl
                  pt-3
                  container-icon-desktop
                "
              ></i>
            </Link>
            <Link
              v-if="
                !$page.props.user
              "
              :href="route('login')"
            >
              <i
                class="
                  fas
                  fa-user
                  text-green
                  ml-0
                  text-3xl
                  pt-3
                  container-icon-desktop
                "
              ></i>
            </Link>

          </div>
        </div>
      </nav>

      <main>
        <slot></slot>
      </main>
    </div>
    <div
      v-if="visibleSearch && ProductsSearch.length > 0"
      id="dropdownDivider"
      class="
        absolute
        top-24
        right-44
        mr-4
        show
        z-10
        lg:w-dropdown-search
        bg-background
        rounded-lg
        divide-y divide-gray-100
        shadow
        dark:bg-gray-700 dark:divide-gray-600
      "
    >
      <p class="ml-5 mt-2 font-bold text-cafe text-xl">Productos</p>
      <ul
        class="py-1 text-sm text-cafe"
        aria-labelledby="dropdownDividerButton"
      >
        <li class="p-2" v-for="(product, index) in ProductsSearch" :key="index">
          <div
            @click="redirect(`/producto/${product.slug}`)"
            class="grid cursor-pointer grid-cols-4 bg-white p-2 rounded-lg"
          >
            <div class="col-span-1">
              <img
                class="h-img_search"
                :src="
                  product.pictures[0] != null
                    ? product.pictures[0].url
                    : 'https://www.sinrumbofijo.com/wp-content/uploads/2016/05/default-placeholder.png'
                "
                alt="producto"
              />
            </div>
            <div class="col-span-2 ml-4">
              <p class="font-bold">{{ product.name }}</p>
              <p>
                SKU:
                {{
                  product.product_type == "simple"
                    ? product.sku
                    : product.values[0].sku
                }}
              </p>
            </div>
            <div class="col-span-1">
              <span
                >{{
                  product.product_type == "simple"
                    ? product.unit
                    : product.values[0].term.name
                }}
              </span>

              <span>
                {{
                  product.product_type == "simple"
                    ? new Intl.NumberFormat("es-CO", {
                        style: "currency",
                        currency: "COP",
                      }).format(product.meta.price)
                    : new Intl.NumberFormat("es-CO", {
                        style: "currency",
                        currency: "COP",
                      }).format(product.values[0].price)
                }}</span
              >
            </div>
          </div>
        </li>
      </ul>
      <!-- <p class="ml-5 font-bold text-cafe text-xl">Categorias</p>
      <div class="py-1">
        <a href="#" class="block py-2 px-4 text-sm text-cafe">Separated link</a>
      </div> -->
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import JetApplicationMark from "@/Jetstream/ApplicationMark.vue";
import JetBanner from "@/Jetstream/Banner.vue";
import JetDropdown from "@/Jetstream/Dropdown.vue";
import JetDropdownLink from "@/Jetstream/DropdownLink.vue";
import JetNavLink from "@/Jetstream/NavLink.vue";
import JetResponsiveNavLink from "@/Jetstream/ResponsiveNavLink.vue";
import { Head, Link } from "@inertiajs/inertia-vue3";
import Toast from "@/Components/Toast.vue";

export default defineComponent({
  props: {
    title: String,
  },
  components: {
    Head,
    JetApplicationMark,
    JetBanner,
    JetDropdown,
    JetDropdownLink,
    JetNavLink,
    JetResponsiveNavLink,
    Link,
    Toast,
  },

  data() {
    return {
      search: "",
      visibleSearch: false,
      ProductsSearch: [],
    };
  },
  watch: {
    search() {
      if (this.search.length > 2) {
        axios
          .post("/search", {
            search: this.search,
          })
          .then((res) => {
            this.ProductsSearch = res.data;
            this.visibleSearch = true;
          })
          .catch((error) => {
            console.log(error);
          });
      }
      if (this.search.length == 0) {
        this.visibleSearch = false;
      }
    },
  },
  methods: {
    redirect(url) {
      this.$inertia.get(url);
    },
    switchToTeam(team) {
      this.$inertia.put(
        route("current-team.update"),
        {
          team_id: team.id,
        },
        {
          preserveState: false,
        }
      );
    },

    logout() {
      this.$inertia.post(route("logout"));
    },
  },
});
</script>
<style scoped>
@media screen and (max-width: 600px) {
  .logo-nav {
    width: 60px;
    height: 60px;
  }
  .container-hamburger {
    border-radius: 10px 0 0 10px;
  }
  .container-hamburger {
    height: 60px;
  }
  .container-icon-search {
    border-radius: 0 10px 10px 0;
    height: 60px;
  }
  .container-input {
    height: 60px;
  }
  .container-icon-search {
    height: 60px;
  }
  .container-icon-desktop {
    height: 60px;
    width: auto;
  }
}
@media screen and (min-width: 601px) {
  .logo-nav {
    height: 60px;
  }
  .container-hamburger {
    border-radius: 10px 0 0 10px;
  }
  .container-hamburger {
    height: 60px;
  }
  .container-icon-search {
    border-radius: 0 10px 10px 0;
    height: 60px;
  }
  .container-input {
    height: 60px;
  }
  .container-icon-search {
    height: 60px;
  }
  .container-icon-desktop {
    height: 60px;
    width: auto;
  }
  .icon-search {
    margin-right: -20px;
  }
}
</style>
