<template>
  <div>
    <Head :title="title" />
    <div>
      <div x-data="{ sidebarOpen: false }" class="flex min-h-screen">
        <div
          :class="sidebarOpen ? 'block' : 'hidden'"
          @click="sidebarOpen = false"
          class="fixed z-20 inset-0 opacity-50 transition-opacity lg:hidden"
        ></div>

        <div
          :class="
            sidebarOpen ? 'translate-x-0 ease-out' : '-translate-x-full ease-in'
          "
          class="
            fixed
            z-30
            inset-y-0
            left-0
            w-64
            transition
            duration-300
            transform
            bg-green
            rounded-tr-lg
            overflow-y-auto
            lg:translate-x-0 lg:static lg:inset-0
          "
        >
          <div class="flex items-center justify-center mt-8">
            <div class="flex items-center">
              <svg
                class="w-6 h-6 text-white"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                ></path>
              </svg>

              <span class="text-white text-2xl mx-2 font-semibold"
                >Administrador</span
              >
            </div>
          </div>
          <nav class="mt-10">
            <Link :href="route('admin.index')">
              <a
                class="
                  flex
                  items-center
                  mt-4
                  py-2
                  px-6
                  text-white
                  hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100
                "
                href="#"
              >
                <svg
                  class="w-6 h-6"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                  ></path>
                </svg>

                <span class="mx-3">Inicio</span>
              </a>
            </Link>

            <a
              class="
                flex
                items-center
                mt-2
                py-2
                px-6
                text-white
                hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100
              "
              href="#"
            >
              <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                ></path>
              </svg>

              <Link :href="route('admin.profile.index')"
                ><span class="mx-3 mr-10">Usuarios</span>
              </Link>
              <div class="px-4" @click="collapseProfiles = !collapseProfiles">
                <svg
                  class="w-5 h-5"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  ></path>
                </svg>
              </div>
            </a>

            <div v-if="collapseProfiles" class="pl-6">
              <Link
                :href="route('admin.profile.index')"
                class="
                  flex
                  items-center
                  mt-2
                  py-2
                  px-6
                  text-white
                  hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100
                "
              >
                <svg
                  class="w-4 h-4"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z"
                  ></path>
                </svg>

                <span class="mx-3">Roles</span>
              </Link>
              <Link
                :href="route('admin.profile.create')"
                class="
                  flex
                  items-center
                  mt-2
                  py-2
                  px-6
                  text-white
                  hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100
                "
              >
                <svg
                  class="w-6 h-6"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </svg>

                <span class="mx-3">Nuevo usuario</span>
              </Link>
            </div>
            <a
              class="
                flex
                items-center
                mt-2
                py-2
                px-6
                text-white
                hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100
              "
              href="#"
            >
              <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                ></path>
              </svg>

              <Link :href="route('admin.product.index')"
                ><span class="mx-3 mr-10">Productos</span>
              </Link>
              <div class="px-4" @click="collapseProducts = !collapseProducts">
                <svg
                  class="w-5 h-5"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 9l-7 7-7-7"
                  ></path>
                </svg>
              </div>
            </a>

            <div v-if="collapseProducts" class="pl-6">
              <Link
                :href="route('admin.product.create')"
                class="
                  flex
                  items-center
                  mt-2
                  py-2
                  px-6
                  text-white
                  hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100
                "
              >
                <svg
                  class="w-6 h-6"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </svg>

                <span class="mx-3">Nuevo producto</span>
              </Link>
              <Link
                :href="route('admin.product.categories.index')"
                class="
                  flex
                  items-center
                  mt-2
                  py-2
                  px-6
                  text-white
                  hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100
                "
              >
                <svg
                  class="w-6 h-6"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
                  ></path>
                </svg>

                <span class="mx-3">Categorias</span>
              </Link>
              <Link
                :href="route('admin.product.attributes.index')"
                class="
                  flex
                  items-center
                  mt-2
                  py-2
                  px-6
                  text-white
                  hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100
                "
              >
                <svg
                  class="w-6 h-6"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </svg>

                <span class="mx-3">Atributos</span>
              </Link>
            </div>
          </nav>
        </div>
        <div class="flex-1 flex flex-col overflow-hidden">
          <header class="flex justify-between items-center py-4 px-6 bg-white">
            <div class="flex items-center">
              <button
                @click="sidebarOpen = true"
                class="text-gray-500 focus:outline-none lg:hidden"
              >
                <svg
                  class="h-6 w-6"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4 6H20M4 12H20M4 18H11"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </button>
            </div>

            <div class="flex items-center">
              <div x-data="{ notificationOpen: false }" class="relative">
                <button
                  @click="notificationOpen = !notificationOpen"
                  class="flex mx-4 text-gray-600 focus:outline-none"
                >
                  <svg
                    class="h-6 w-6"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M15 17H20L18.5951 15.5951C18.2141 15.2141 18 14.6973 18 14.1585V11C18 8.38757 16.3304 6.16509 14 5.34142V5C14 3.89543 13.1046 3 12 3C10.8954 3 10 3.89543 10 5V5.34142C7.66962 6.16509 6 8.38757 6 11V14.1585C6 14.6973 5.78595 15.2141 5.40493 15.5951L4 17H9M15 17V18C15 19.6569 13.6569 21 12 21C10.3431 21 9 19.6569 9 18V17M15 17H9"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </button>

                <div
                  x-show="notificationOpen"
                  @click="notificationOpen = false"
                  class="fixed inset-0 h-full w-full z-10"
                  style="display: none"
                ></div>
              </div>
            </div>
          </header>
          <main
            class="flex-1 overflow-x-hidden overflow-y-auto bg-background p-8"
          >
            <slot></slot>
          </main>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import JetApplicationMark from "@/Jetstream/ApplicationMark.vue";
import JetBanner from "@/Jetstream/Banner.vue";
import JetDropdown from "@/Jetstream/Dropdown.vue";
import JetDropdownLink from "@/Jetstream/DropdownLink.vue";
import JetNavLink from "@/Jetstream/NavLink.vue";
import JetResponsiveNavLink from "@/Jetstream/ResponsiveNavLink.vue";
import { Head, Link } from "@inertiajs/inertia-vue3";

export default defineComponent({
  props: {
    title: String,
  },
  components: {
    Head,
    JetApplicationMark,
    JetBanner,
    JetDropdown,
    JetDropdownLink,
    JetNavLink,
    JetResponsiveNavLink,
    Link,
  },

  data() {
    return {
      collapseProfiles: false,
      collapseProducts: false,
    };
  },
  watch: {},
  methods: {},
});
</script>
