<template>
  <app-layout>
    <Head title="Iniciar sesión" />
    <div class="grid grid-cols-1 lg:grid-cols-2 lg:px-24 lg:py-10 lg:gap-14">
      <div class="grid-cols-2 gap-0 min-h-screen bg-background">
        <!-- <div class="col-span-2 container-logo gap-0 m-0 py-0  lg:hidden ">
        <img
          class="h-logo logo rounded-full bg-logo mx-auto"
          src="../../../img/LOGO.svg"
          alt="Logo"
        />
      </div> -->
        <div class="col-span-2 gap-0 container-titulo text-center text-primary">
          <h1 class="titulo font-bold">Inicia sesión</h1>
          <h1 class="sub-titulo">Inicia sesión con:</h1>
        </div>
        <div class="col-span-2 container-social text-center space-x-2">
          <a :href="route('auth.facebook')">
            <button
              id="facebook"
              class="
                btn-social
                bg-fb
                duration-500
                border-none
                text-3xl
                rounded-lg
                text-white
              "
            >
              <i class="fab fa-facebook-f"></i>
            </button>
          </a>

          <a :href="route('auth.google')">
            <button
              id="google"
              class="
                btn-social
                bg-google
                duration-500
                border-none
                text-3xl
                rounded-lg
                text-white
              "
            >
              <i class="fab fa-google"></i>
            </button>
          </a>
        </div>


        <div class="col-span-2 lg:px-4 m-0 p-0">
          <form
            @submit.prevent="submit"
            class="form form-login px-5 lg:px-0 text-primary"
          >
            <div class="flex space-x-5 mt-3">
              <jet-input
                placeholder="Correo"
                id="email"
                type="email"
                class="mt-1 block w-full"
                v-model="form.email"
                required
                autocomplete="off"
              />
              <span class="text-danger text-sm">   {{form.errors.email}}</span>
            </div>
            <div class="flex space-x-5 mt-3">
              <jet-input
                placeholder="Contraseña"
                id="password"
                type="password"
                class="mt-1 block w-full"
                v-model="form.password"
                required
                autocomplete="current-password"
              />
              <span class="text-danger text-sm">   {{form.errors.password}}</span>
            </div>
              <div class="col-span-2 text-center text-primary" v-if="hasErrors">
          <jet-validation-errors class="mb-4" />
          <div v-if="status" class="mb-4 font-medium text-sm text-green-600">
            {{ status }}
          </div>
        </div>
            <div class="flex items-center justify-start mt-4">
              <Link
                v-if="canResetPassword"
                :href="route('password.request')"
                class="
                  underline
                  text-xs text-gray-600
                  hover:text-gray-900
                  foget-password
                "
              >
                Olvidé mi contraseña
              </Link>
            </div>
            <jet-button
              class="bg-primary w-full text-white text-xl btn-auth"
              :class="{ 'opacity-25': form.processing }"
              :disabled="form.processing"
            >
              Iniciar Sesión
            </jet-button>
          </form>
          <div class="col-span-2 text-center text-primary">
            <Link
              :href="route('register')"
              class="
                text-primary
                underline
                font-semi-bold
                text-lg text-gray-600
                hover:text-gray-900
                mb-2
              "
            >
              Crear Cuenta
            </Link>
          </div>
        </div>
      </div>
      <!-- Image Right -->
      <div class="h-100 bg-white py-10"></div>
    </div>
  </app-layout>
</template>

<script>
import { defineComponent } from "vue";
import JetAuthenticationCard from "@/Jetstream/AuthenticationCard.vue";
import JetAuthenticationCardLogo from "@/Jetstream/AuthenticationCardLogo.vue";
import JetButton from "@/Jetstream/Button.vue";
import JetInput from "@/Jetstream/Input.vue";
import JetCheckbox from "@/Jetstream/Checkbox.vue";
import JetLabel from "@/Jetstream/Label.vue";
import JetValidationErrors from "@/Jetstream/ValidationErrors.vue";
import { Head, Link } from "@inertiajs/inertia-vue3";
import AppLayout from "@/Layouts/AppLayout.vue";

export default defineComponent({
  components: {
    Head,
    JetAuthenticationCard,
    JetAuthenticationCardLogo,
    JetButton,
    JetInput,
    JetCheckbox,
    JetLabel,
    JetValidationErrors,
    Link,
    AppLayout,
  },

  props: {
    canResetPassword: Boolean,
    status: String,
  },

  data() {
    return {
      form: this.$inertia.form({
        email: "",
        password: "",
        remember: false,
      }),
    };
  },

  methods: {
    submit() {
      this.form
        .transform((data) => ({
          ...data,
          remember: this.form.remember ? "on" : "",
        }))
        .post(this.route("login"), {
          onFinish: () => this.form.reset("password"),
        });
    },
  },
});
</script>
<style scoped>
@media screen and (max-width: 600px) {
  .container-logo {
    height: 100px;
    width: 100%;
  }
  .logo {
    margin-top: 30px;
  }
  .btn-social {
    height: 61px;
    width: 61px;
  }
  .container-titulo {
    height: auto;
  }
  .titulo {
    margin: 33px auto 0;
    font-size: 35px;
  }
  .sub-titulo {
    font-size: 22px;
    margin: 34px auto 0;
  }
  .container-social {
    margin: 18px auto 0;
  }
  .form-login {
    margin: 36px auto 0;
  }
  .foget-password {
    margin: 0 0 18px;
  }
  .btn-auth {
    margin: 0 auto 18px;
  }
}
@media screen and (min-width: 601px) {
  .container-logo {
    height: 100px;
    width: 100%;
  }
  .logo {
    margin-top: 30px;
  }
  .btn-social {
    height: 61px;
    width: 61px;
  }
  .container-titulo {
    height: auto;
  }
  .titulo {
    margin: 0 auto;
    font-size: 35px;
  }
  .sub-titulo {
    font-size: 22px;
    margin: 34px auto 0;
  }
  .container-social {
    margin: 18px auto 0;
  }
  .form-login {
    margin: 36px auto 0;
  }
  .foget-password {
    margin: 0 0 18px;
  }
  .btn-auth {
    margin: 0 auto 18px;
  }
}
</style>
