<template>
  <Head title="Crear cuenta" />
  <div class="grid grid-cols-1 lg:grid-cols-2 lg:px-24 lg:py-10 lg:gap-14">
    <div class="grid-cols-2 gap-0 min-h-screen bg-background">
      <div class="col-span-2 lg:hidden container-logo gap-0 m-0 py-0">
        <img
          class="h-logo logo rounded-full bg-logo mx-auto"
          src="../../../img/LOGO.svg"
          alt="Logo"
        />
      </div>
      <div class="col-span-2 gap-0 container-titulo text-center text-primary">
        <h1 class="titulo font-bold">Crear una cuenta</h1>
        <h1 class="sub-titulo">Crea una cuenta con:</h1>
      </div>
      <div class="col-span-2 container-social text-center space-x-2">
        <button
          id="facebook"
          class="
            btn-social
            bg-fb
            duration-500
            border-none
            text-3xl
            rounded-lg
            text-white
          "
        >
          <i class="fab fa-facebook-f"></i>
        </button>
        <a :href="route('auth.google')">
          <button
            id="google"
            class="
              btn-social
              bg-google
              duration-500
              border-none
              text-3xl
              rounded-lg
              text-white
            "
          >
            <i class="fab fa-google"></i>
          </button>
        </a>
      </div>
      <div class="col-span-2 text-center text-primary" v-if="hasErrors">
        <jet-validation-errors class="mb-4" />
      </div>

      <div class="col-span-2 m-0 p-0">
        <form
          @submit.prevent="submit"
          class="form form-register text-primary px-4 mb-3 mt-1 my-10 relative"
        >
          <div class="flex space-x-5 mt-3">
            <jet-input
              placeholder="Nombres"
              id="name"
              type="text"
              class="mt-1 w-1/2 capitalize"
              v-model="form.name"
              required
              autocomplete="off"
            />
            <jet-input
              placeholder="Apellidos"
              id="last_name"
              type="text"
              class="mt-1 w-1/2 capitalize"
              v-model="form.last_name"
              required
              autocomplete="off"
            />
          </div>
          <div class="flex space-x-5 mt-3">
            <jet-input
              placeholder="Correo"
              id="email"
              type="email"
              class="mt-1 w-full"
              v-model="form.email"
              required
              autocomplete="off"
            />
          </div>
          <div class="flex space-x-5 mt-3">
            <jet-input
              placeholder="celular"
              id="phone"
              type="tel"
              class="mt-1 w-full capitalize"
              v-model="form.phone"
              required
            />
          </div>
          <div class="flex space-x-5 mt-3">
            <jet-input
              placeholder="contraseña"
              id="password"
              type="password"
              class="mt-1 block w-full capitalize"
              v-model="form.password"
              required
              autocomplete="new-password"
            />
          </div>
          <div class="flex space-x-5 mt-3">
            <jet-input
              placeholder="confirmar contraseña"
              id="password_confirmation"
              type="password"
              class="mt-1 block w-full capitalize"
              v-model="form.password_confirmation"
              required
              autocomplete="new-password"
            />
          </div>
          <div
            class="mt-4 grid lg:grid-cols-2"
            v-if="$page.props.jetstream.hasTermsAndPrivacyPolicyFeature"
          >
            <jet-label for="terms">
              <div class="flex items-center agreed-terms font-w">
                <jet-checkbox
                  name="terms"
                  id="terms"
                  v-model:checked="form.terms"
                />

                <div class="ml-2">
                  Acepto
                  <a
                    target="_blank"
                    :href="route('terms.show')"
                    class="underline text-sm text-gray-600 hover:text-gray-900"
                    >Terminos y condiciones</a
                  >
                  y
                  <a
                    target="_blank"
                    :href="route('policy.show')"
                    class="underline text-sm text-gray-600 hover:text-gray-900"
                    >Politicas de privacidad</a
                  >
                </div>
              </div>
            </jet-label>
          </div>
          <jet-button
            class="bg-primary w-full text-xl btn-auth text-white"
            :class="{ 'opacity-25': form.processing }"
            :disabled="form.processing"
          >
            Crear Cuenta
          </jet-button>
        </form>
        <div class="col-span-2 text-center text-primary pb-10">
          <Link
            :href="route('login')"
            class="
              text-login
              underline
              font-semi-bold
              text-xl text-gray-600
              hover:text-gray-900
              mb-15
            "
          >
            Iniciar Sesión
          </Link>
        </div>
      </div>
    </div>
    <!-- Image Right -->
    <div class="h-100 bg-white py-10"></div>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import JetAuthenticationCard from "@/Jetstream/AuthenticationCard.vue";
import JetAuthenticationCardLogo from "@/Jetstream/AuthenticationCardLogo.vue";
import JetButton from "@/Jetstream/Button.vue";
import JetInput from "@/Jetstream/Input.vue";
import JetCheckbox from "@/Jetstream/Checkbox.vue";
import JetLabel from "@/Jetstream/Label.vue";
import JetValidationErrors from "@/Jetstream/ValidationErrors.vue";
import { Head, Link } from "@inertiajs/inertia-vue3";

export default defineComponent({
  components: {
    Head,
    JetAuthenticationCard,
    JetAuthenticationCardLogo,
    JetButton,
    JetInput,
    JetCheckbox,
    JetLabel,
    JetValidationErrors,
    Link,
  },

  data() {
    return {
      form: this.$inertia.form({
        name: "",
        last_name: "",
        email: "",
        phone: "",
        password: "",
        password_confirmation: "",
        terms: false,
      }),
    };
  },

  methods: {
    submit() {
      this.form.post(this.route("register"), {
        onFinish: () => this.form.reset("password", "password_confirmation"),
      });
    },
  },
});
</script>
<style scoped>
@media screen and (max-width: 600px) {
  .container-logo {
    height: 100px;
    width: 100%;
  }
  .logo {
    margin-top: 30px;
  }
  .btn-social {
    height: 61px;
    width: 61px;
  }
  .container-titulo {
    height: auto;
  }
  .titulo {
    margin: 20px auto 0;
    font-size: 35px;
  }
  .sub-titulo {
    font-size: 22px;
    margin: 15px auto 0;
  }
  .container-social {
    margin: 10px auto 0;
  }
  .form-register {
    margin: 36px auto 0;
  }
  .agreed-terms {
    margin: 0 0 28px;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
  .btn-auth {
    margin: 0 auto 18px;
  }
  .text-login {
    margin: 0 auto 30px;
  }
}
@media screen and (min-width: 601px) {
    .container-logo {
    height: 100px;
    width: 100%;
  }
  .logo {
    margin-top: 30px;
  }
  .btn-social {
    height: 61px;
    width: 61px;
  }
  .container-titulo {
    height: auto;
  }
  .titulo {
    margin: 0 auto ;
    font-size: 35px;
  }
  .sub-titulo {
    font-size: 22px;
    margin: 15px auto 0;
  }
  .container-social {
    margin: 10px auto 0;
  }
  .form-register {
    margin: 36px auto 0;
  }
  .agreed-terms {
    margin: 0 0 28px;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
  .btn-auth {
    margin: 0 auto 18px;
  }
  .text-login {
    margin: 0 auto 30px;
  }
}
</style>
